@media only screen and (max-width:800px) {
  /* line 4, svcc-style.scss */
  .hideOnScreenLessthan800px {
    display: none;
  }
}
/* line 9, svcc-style.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 13, svcc-style.scss */
body {
  font-family: Calibri,Arial,sans-serif;
}

/* Column Layout */
/* line 18, svcc-style.scss */
#colMask {
  clear: both;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #F0F0F0;
}

/* line 25, svcc-style.scss */
#colMid {
  float: left;
  margin-left: -285px;
  position: relative;
  right: 100%;
  width: 200%;
  border-right: 1px solid #D2D2D2;
  background-color: white;
}

/* line 34, svcc-style.scss */
#colLeft {
  float: left;
  left: 440px;
  position: relative;
  padding-left: 0;
  width: 100%;
  border-right: 1px solid #D2D2D2;
  margin-left: -50%;
}

/* line 43, svcc-style.scss */
#col1Wrap {
  float: left;
  position: relative;
  right: 150px;
  width: 50%;
}

/* line 49, svcc-style.scss */
#col1 {
  left: 200%;
  margin: 0 290px 0 150px;
  overflow: hidden;
  position: relative;
}

/* line 55, svcc-style.scss */
#col2 {
  overflow: hidden;
  float: right;
  position: relative;
  padding-top: 16px;
  width: 155px;
}

/* line 62, svcc-style.scss */
#col3 {
  font-family: Calibri,Arial,sans-serif;
  float: right;
  left: 50%;
  position: relative;
  padding-bottom: 5px;
  width: 284px;
}

/* End of Column Layout */
/* line 73, svcc-style.scss */
#content {
  left: 150px;
  top: 0px;
  padding-right: 60px;
  float: left;
  position: relative;
}

/* Header */
/* line 82, svcc-style.scss */
#header {
  background: #2e2e2e url("images/headBackground.jpg") no-repeat top right;
}

/* line 85, svcc-style.scss */
#headerTop {
  height: 45px;
  width: 100%;
  overflow: hidden;
}

/* line 91, svcc-style.scss */
.campLogo {
  float: left;
  height: 25px;
  padding-left: 10px;
  width: 361px;
}

/* line 97, svcc-style.scss */
.campDatesHeader {
  float: left;
  font: normal large Cambria,Georgia,serif;
  padding: 12px 0 0 30px;
  color: #B4B4B4;
}

/* line 104, svcc-style.scss */
#headerMenu {
  clear: both;
  height: 43px;
  width: 100%;
  overflow: hidden;
}

/* line 110, svcc-style.scss */
#headerTitle {
  font: italic normal 230% 'Times New Roman', Times, serif;
  letter-spacing: 0.2em;
}

/* line 115, svcc-style.scss */
.headLogin {
  float: right;
  text-align: right;
  height: 24px;
  font-size: 14px;
}

/* SubHeaderMenu */
/* line 122, svcc-style.scss */
#subHeaderMenu {
  padding: 3px 0 0 8px;
  height: 25px;
  color: white;
  font: normal 16px Cambria,Georgia,serif;
  background-color: #333333;
}

/* End SubMenu */
/* Left Sidebar */
/* line 132, svcc-style.scss */
.sibebarLeft {
  padding-left: 4px;
}

/* line 135, svcc-style.scss */
ul.slashBullet {
  list-style-type: none;
  background: none;
  padding-left: 0px;
}

/* line 140, svcc-style.scss */
.slashBullet li {
  list-style-type: none;
  padding-left: 20px;
  text-align: left;
  background-image: url("images/slashBullet.gif");
  background-repeat: no-repeat;
  font-size: 12px;
  margin: 6px 0px;
}

/* line 149, svcc-style.scss */
.slashBullet a:link, .slashBullet a:visited {
  background: url("images/dotted.gif") repeat-x left bottom;
  color: #666666;
  text-decoration: none;
}

/* line 154, svcc-style.scss */
#col2 h3 {
  border-left: 3px solid #CC3300;
  color: #666666;
  font: bold 16px Cambria,Georgia,serif;
  margin: 5px 0;
  padding: 3px 3px 3px 6px;
}

/* End of Left Sidebar */
/* Footer */
/* line 164, svcc-style.scss */
.credit {
  display: block;
  position: relative;
  background: #7D7D7D;
  color: #383838;
  height: 30px;
  font-size: 13px;
  margin: 0;
}

/* line 173, svcc-style.scss */
.credit div.centerText {
  background: url("images/footerCurves.gif") no-repeat left top;
  float: left;
  padding: 8px 0 0 165px;
}

/* line 178, svcc-style.scss */
.credit a, .credit a:hover {
  color: #fff;
}

/* line 182, svcc-style.scss */
.bottomRss {
  float: right;
  width: 270px;
  height: 22px;
  color: #7D7D7D;
  padding: 8px 0 0 15px;
  background-color: #383838;
  text-align: left;
}

/* Social Media Icons from paulrobertlloyd.com */
/* line 192, svcc-style.scss */
.socialMediaIconWrap {
  width: 200px;
  height: 38px;
  padding-left: 8px;
}

/* line 197, svcc-style.scss */
.socialMediaIcon {
  float: left;
  width: 32px;
  height: 34px;
  margin: 0 4px;
}

/* End of Footer */
/* ReTweet */
/* line 208, svcc-style.scss */
.ShowTwitterSessionLinksId h1, .ShowTwitterSessionLinksId h2 {
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
/* line 218, svcc-style.scss */
.ShowTwitterSessionLinksId .title span {
  font: italic 15px Georgia,"Times New Roman",serif;
  color: #414141;
}
/* line 222, svcc-style.scss */
.ShowTwitterSessionLinksId .title .twitter {
  width: 24px;
  height: 16px;
  background: transparent url("Images/twitter-logo-small.png") no-repeat;
  float: left;
}
/* line 229, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel {
  margin: 10px 15px;
}
/* line 231, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel > div {
  padding-right: 5px;
  background: #f6f6f6 url("Images/Retweet/panel-title-bg.png") no-repeat right -30px;
}
/* line 235, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel h2 {
  background: #f6f6f6 url("Images/Retweet/panel-title-bg.png") no-repeat;
  height: 20px;
  padding: 4px 0 2px 10px;
}
/* line 241, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel table {
  margin-left: 15px;
}
/* line 243, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel table td {
  padding: 1px 0;
}
/* line 247, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel a {
  font: normal 13px Arial, sans-serif;
  color: #003366;
  background: transparent url("Images/Retweet/retweet-icon.png") no-repeat 4px 5px;
  padding: 3px 6px 3px 25px;
  line-height: 18px;
}
/* line 253, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel a:hover {
  color: #006699;
  background-color: #eff8fc;
  background-position: 4px -95px;
  text-decoration: underline;
}
/* line 260, svcc-style.scss */
.ShowTwitterSessionLinksId .tweetPanel a:active {
  color: #008ccc;
}
/* line 265, svcc-style.scss */
.ShowTwitterSessionLinksId .note {
  font: italic 12px Georgia,"Times New Roman",serif;
  color: #333333;
}

/* End of ReTweet */
