/* Login Header */
.loginHeader {
    background: #003366 url(../images/3plogic-logo.gif) no-repeat 10px 10px;
    height: 60px;
    width:100%;
}

.loginHeaderBorder {
    background: url(../images/login-border-bg.gif) repeat-x;
    width: 100%; 
    height:4px; 
}

/* Top buttons and search bar */
.x-btn-blue-text button {
    color: #70A3D9;
}

/* Header Tabs */
.headerTabs_container {
    margin-top:2px;
}

.headerTabs_container .x-toolbar {
	background: none;
}

.headerTabs_container .x-toolbar-left-row .x-btn-text {
    height: 17px;
    color: #70A3D9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.ext-gecko .headerTabs_container .x-toolbar-left-row .x-btn-text {
    height: 18px;
}

.headerTabs_container .x-toolbar-left-row .x-btn-selected .x-btn-text, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-text {
    color: #003366;
}

.headerTabs_container .x-toolbar-left-row table {
    margin-left: 2px;
}

.headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-bc, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-tl, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-tr, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-tc, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-ml, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-mr, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-mc, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-bl, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-br, .headerTabs_container .x-toolbar-left-row .x-btn-over .x-btn-bc {
    background-image:none;
    color: white;
}

.headerTabs_container .x-toolbar-left-row .x-btn-bc, .headerTabs_container .x-toolbar-left-row .x-btn-tl, .headerTabs_container .x-toolbar-left-row .x-btn-tr, .headerTabs_container .x-toolbar-left-row .x-btn-tc, .headerTabs_container .x-toolbar-left-row .x-btn-ml, .headerTabs_container .x-toolbar-left-row .x-btn-mr, .headerTabs_container .x-toolbar-left-row .x-btn-mc, .headerTabs_container .x-toolbar-left-row .x-btn-bl, .headerTabs_container .x-toolbar-left-row .x-btn-br, .headerTabs_container .x-toolbar-left-row .x-btn-bc, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-bc, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-tl, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-tr, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-tc, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-ml, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-mr, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-mc, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-bl, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-br, .headerTabs_container .x-toolbar-left-row .headerTabsOver .x-btn-bc {
    background-image:url(../images/buttons/tabBtn.gif);
}

/* Header tab hover */
.x-toolbar .headerTabsOver .x-btn-tl {
	background-position: -12px 0;
}

.x-toolbar .headerTabsOver .x-btn-tr {
	background-position: -15px 0;
}

.x-toolbar .headerTabsOver .x-btn-tc {
	background-position: 0 -12px;
}

.x-toolbar .headerTabsOver .x-btn-ml {
	background-position: -12px -24px;
}

.x-toolbar .headerTabsOver .x-btn-mr {
	background-position: -15px -24px;
}

.x-toolbar .headerTabsOver .x-btn-mc {
	background-position: 0 -3240px;
}

.x-toolbar .headerTabsOver .x-btn-bl {
	background-position: -12px -3px;
}

.x-toolbar .headerTabsOver .x-btn-br {
	background-position: -15px -3px;
}

.x-toolbar .headerTabsOver .x-btn-bc {
	background-position: 0 -21px;
}
/* Header tab selected */
.x-toolbar .headerTabsSelected .x-btn-tl {
	background-position: -6px 0;
}

.x-toolbar .headerTabsSelected .x-btn-tr {
	background-position: -9px 0;
}

.x-toolbar .headerTabsSelected .x-btn-tc {
	background-position: 0 -9px;
}

.x-toolbar .headerTabsSelected .x-btn-ml {
	background-position: -6px -24px;
}

.x-toolbar .headerTabsSelected .x-btn-mr {
	background-position: -9px -24px;
}

.x-toolbar .headerTabsSelected .x-btn-mc {
	background-position: 0 -2167px;
}

.x-toolbar .headerTabsSelected .x-btn-bl {
	background-position: -6px -3px;
}

.x-toolbar .headerTabsSelected .x-btn-br {
	background-position: -9px -3px;
}

.x-toolbar .headerTabsSelected .x-btn-bc {
	background-position: 0 -18px;
}
.x-toolbar .headerTabsSelected .x-btn-text {
    color: #003366;
}

/* Right button */
.headerTabs_container .x-toolbar-right-row .x-btn-text {
    color: #70A3D9;
    font-weight: bold;
}

/* History Bar */

.historyBar_container .x-toolbar {
    background:none;
    background-color: #f2f2f2;
    border: none;
}

.historyBar_container {
    border: none;
}
.x-toolbar .x-small-editor .historyBar_wrapper .x-toolbar-layout-ct {
    border: none;
}

/* West Panel */
.westPanel_ct .x-panel-header {
    background: none;
    background-color: #cfdef2;
    border-bottom: none;
}

/* Explore tabs */
.exploreTabs_ct ul.x-tab-strip {
    background: none;
    background-color: #cfdef2;
    border-bottom: 1px solid white;
}

.exploreTabs_ct .x-tab-strip-top .x-tab-right, .exploreTabs_ct .x-tab-strip-top .x-tab-left, .exploreTabs_ct .x-tab-strip-top .x-tab-strip-inner {
    background: none;
}

.exploreTabs_ct .x-tab-strip-top .x-tab-strip-active .x-tab-right, .exploreTabs_ct .x-tab-strip-top .x-tab-strip-active .x-tab-left, .exploreTabs_ct .x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
    background-color: #f5f5f5;
}

.exploreTabs_ct .x-tab-strip-active .x-tab-strip-text {
    color: #333333;
}

.exploreTabs_ct .x-tab-panel-header {
    padding-bottom: 0px;
    border: none;
}

/* Loads Buttons */
.dataExplorerBtns_ct .x-toolbar {
    background: none;
    background-color: #F5F5F5;
}
/* Checkbox label on Filter */
.label-font-small label {
    font-size: 11px;
