﻿@charset "utf-8";

/* CSS Document */
.recon_logo {
	float: left;
	width: 126px;
	height: 160px;
	background: url(../images/3plogic-logo.gif) no-repeat;
	margin-left: 15px;
}

.recon_info {
	float: left;
	width: 477px;
	margin: 55px 0 0 20px;
	padding-top:64px;
	background: url(../images/recon-intro.png) no-repeat;
}

.recon_info a {
	font: 12px Arial, Helvetica, sans-serif;
	color: #0041f7;
	text-decoration: underline;
}

.menu_wrapper {
	padding-bottom:20px;
	clear: both;
	background: url(../images/recon-bg.png) repeat-x;
}

.menu_container {
	float: left;
	width: 176px;
	height: 188px;
	margin: 5px;
	background: url(../images/block-bg.gif) no-repeat;
	
}

.menu_block {
	width: 157px;
	height: 169px;
	margin: 1px 0 0 1px;
	background-color: #FFFFFF;
	padding: 7px;
	font: 12px Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.menu_title {
	border-bottom: 1px solid #999999;
	padding-bottom: 10px;
	font-weight: bold;
}

.menu_title div {
	height: 50px;
}

.menu_description {
	padding-top: 10px;
}

.menu_block:hover {
	background-color: #d9e5fd;
}

.clear_both {
	clear: both;
}