﻿@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>sponsorsxx</h2>

   
@foreach (var sponsor in Model.Sponsors)
{
    <br />
    @sponsor.SponsorName
    <br />
    @sponsor.NavigateURL
    <br />
    @sponsor.SponsorSupportLevel
    <br />
    @sponsor.SponsorSupportLevelOrder
    <br />
    <span>ShowFeatured:</span>  @sponsor.ShowFeatured
    <br />
     <span>ShowQuestionMark:</span>  @sponsor.ShowQuestionMark
    <br />
    @(sponsor.ImageURL)

       <img src="@(sponsor.ImageURL)?format=gif&w=50&h=50&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr />
}

