﻿@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="title">Sponsors</h1>

<div id="introduction" style="font-size:16px; font-style:normal; color:#2e363d; margin-top:40px; font-family:Calibri; "><span>Silicon Valley Code Camp is proud to offer sponsorships at four levels, <span style="font-weight:bold"> Platinum, Gold, Silver and Bronze.</span> </span>

    <br />
    <br />
    
    <ul>
        <li>
            <table><tr><td><div style="vertical-align:top;background: transparent url('../Content/Images/bullet.jpg') no-repeat;width: 10px;
              height: 10px;
              padding-right: 5px;
              display: inline-block;" /></td><td><div style="vertical-align:top;">
                                <span style="font-weight:bold">All levels</span> will receive recognition and thanks from the community for their participation.
                            </div></td></tr></table>
            
                            
                        </li>
        <li><br /></li>
        <li>
            <table><tr><td><div style="vertical-align:top; background: transparent url('../Content/Images/bullet.jpg') no-repeat;width: 10px;
              height: 10px;
              padding-right: 5px;
              display: inline-block;" /></td><td><div style="vertical-align:top;">
                                <span style="font-weight:bold">Platinum and Gold Sponsors</span> may be listed in our schedule along with the specific events their contributions help pay for. For Example, Along side Lunch on the schedule will be the name of the sponsor(s) who helped make that happen.  
                            </div></td></tr></table>
            
                            

        </li>
        <li><br /></li>
        <li><table><tr><td><div style="vertical-align:top;background: transparent url('../Content/Images/bullet.jpg') no-repeat;width: 10px;
              height: 10px;
              padding-right: 5px;
              display: inline-block;" /></td><td><div style="vertical-align:top;">
                                <span style="font-weight:bold">Platinum sponsors</span> will receive additional benefits which include being able to set up a table at our Registration area where these sponsors can give out material about their company as well as discuss employment opportunities with Code Camp attendees
                            </div></td></tr></table></li>
        
    </ul>

    <br />
    <br />
    <span>Contact <span style="font-weight:bold; text-decoration:underline">info@siliconvalley-codecamp.com</span> if you are interested in being a sponsor or you would like to make a raffle prize donation.  </span>

    <br />
    <br />

    <h1 class="title" style="font-size:20px">OUR SPONSORS</h1>
    <br />
    <br />
    <table>

        <tr>
            <td rowspan="2">
                <div style="vertical-align:top;background: transparent url('../Content/Images/featured.jpg') no-repeat;width: 86px;
              height: 93px;
              padding-right: 5px;
              display: inline-block;" />
            </td>
            <td><span style="font-style:italic;vertical-align:top; padding:5px"> Every week, some of our sponsors provide us with amazing limited time offers for our registered members. Click on the golden ribbon next to their logo to see their special offer !</span></td>
        </tr>
        <tr>
            
            <td><div style="vertical-align:top;background: transparent url('../Content/Images/showSpecial.jpg') no-repeat;width: 245px;
              height: 29px;
              padding-right: 5px;
              display: inline-block;" /></td>
        </tr>
    </table>
        
</div>



       
 <br />
<br />
      
<div style="width:600px;display: inline-block;">
@foreach (var sponsor in Model.Sponsors)
{
    <a href="@sponsor.NavigateURL"> <div class="roundBorder section jobPosts" style="float:left; padding: 10px;  margin-left:15px; margin-top:15px; background-color:rgba(248,248,248,255); width: 160px;">

    <br />
    @sponsor.SponsorName
    <br />
    
    <br />
    @sponsor.SponsorSupportLevel
    <br />
    @sponsor.SponsorSupportLevelOrder
    <br />
    @*<img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />*@
    <br />
        

        </div>
        </a>
}

    </div>


     




