@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

User: @Model.LoggedInUsername 

<h1 class="title">Register</h1>
    <br />



<iframe src="/ExtJSApps/RegistrationProd" width="600" height="700">
    
    <h3>Registration Page Loading...</h3>
    <img src="Images/loadingAnimation.gif" alt="Registration Page Loading, Hold on..."/>

</iframe>    
    
