@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@*      
<div style="width: 500px;height: 700px;border-color: blue;border-style: solid;" >
  *@  
    <div style="margin: 15px 15px 15px 15px;">
    


    <iframe src="/Reg/app.html"></iframe>
    
    
</div>