﻿@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

User: @Model.LoggedInUsername 

<h1 class="title">Register</h1>
    <br />



@*<iframe src="/ExtJSApps/Registration/app.html" width="600" height="700"></iframe>*@

<iframe src="/ExtJSApps/RegistrationProd/index.html" width="600" height="700"></iframe>
    
    
