/******************
HTML Tags
******************/

body {
	font-family:"trebuchet MS", tahoma, verdana, arial, helvetica, sans-serif;
	color:#333333;
	font-size:.8em;
	background:#5F7558 url(bg-main.gif);
	}

/******************
FORM STYLES
******************/

#content-container-inner form {
	margin:20px 0px;
	padding:0px 0px 0px 0px;
	}

#content-container-inner fieldset {
	margin:10px 0px 20px 0px;
	padding:0px 10px 10px 20px;
	background-color:#FFFFCC;
	}


/**/
/* a nested fieldset */
#content-container-inner fieldset fieldset {
	margin:15px 0px 5px 0px;
	padding:0px 5px 5px 5px;
	background-color:#FFFFD9
	}

#content-container-inner legend {
	margin-bottom:0px;
	padding:0px 10px 5px 5px;
	color:#333333;
	font-weight:bold;
	font-size:1.2em;
	}

/* a nested legend */
#content-container-inner fieldset fieldset legend {
	margin-bottom:0px;
	padding:0px 10px 5px 5px;
	font-weight:bold;
	}

/* THIS CAUSED CHECKBOXES AND LABELS TO SCREW UP
#content-container-inner label {
	display:block;
	padding-top:8px;
	}
*/



/******************
SIDE SEARCH FORM
******************/

#side form {
	margin:10px 0px 0px 0px;
	padding:0px;
	}
	
#side fieldset {
	margin:0px;
	padding:0px;
	border:none;
	}
	
#side legend {
	display:none;
	}

#side label {
	display:none;
	}
	
#side input {
	display:block;
	}

.button-search {
	margin:7px 0px;
	padding:0px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
/**/

.searchbox {
	height:14px;
	margin:0px;
	padding:0px;
	width:8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	vertical-align:baseline;
	}
	
/******************
LINKS
******************/

/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
a:link {
	color:#9D080D;
	}

a:visited {
	color:#913502;
	}

a:hover {
	color:#FF0009;
	text-decoration:none;
	}

a:active {
	color:#7AAD00;
	text-decoration:none;
	}

/******************
HEADINGS
******************/

h1 {
	font-size:2em;
	}
	


h2 {
	font-size:1.4em;
	}

h3 {
	font-size:1.2em;
	}
	
h4 {
	font-size:1.1em;
	}
	
h5 {
	font-size:.9em;
	}
	
h6 {
	font-size:1.8em;
	}
	


#three-column-container h2 {
	margin:0px 0px 10px 0px;
	padding:0px;
	}

/******************
SITE NAME LAYOUT 
******************/



#DivLoggedInStatus {
	position:absolute;
	top:20px;
	left:10px;
	text-align:left;
	color:#FFFFFF;
	font-size:1.0em;
	font-weight:normal;
	}

#sitepicturetop {
	position:absolute;
	top:20px;
	right:475px;
	text-align:right;
	color:#FFFFFF;
	font-size:1.8em;
	font-weight:bold;
	}

#sitename {
	position:absolute;
	top:20px;
	right:100px;
	text-align:right;
	color:#FFFFFF;
	font-size:1.8em;
	font-weight:bold;
	}

#sitename a {
	text-decoration:none;
	color:#FFFFFF;
	border-bottom:none;
	}

#slogan {
	font-size:.65em;
	margin:0px;
	text-align:right;
	color:#000000;
	}
	
#logotext {
	font-size:70px;
	position:absolute;
	top:5px;
	right:50px;
	text-align:right;
	color:#FFFFFF;
	font-weight:bold;
	}

/******************
CONTENT LAYOUT 
******************/

#content-container-outer {
	width:75%;
	position:absolute;
	top:120px;
	right:0px;
	padding-bottom:100px;
	}
	
#block-content-top-right {
	width:8%;
	height:85px;
	float:right;
	background: url(block-content-top-right.gif) no-repeat;
	}
	
#block-content-top-left {
	width:92%;
	height:85px;
	float:left;
	}

#content-container-inner{
	background: #929E8E;
	margin:0px;
	padding:0px;
	}
	
#content {
	background: #FFFFFF;
	width:82%;
	margin-right:8%;
	padding:0 5% 20px 5%;
	}	
	

	
#block-content-bottom-right {
	width:8%;
	height:85px;
	float:right;
	background: url(block-content-bottom-right.gif) no-repeat bottom left;
	margin:0px;
	padding:0px;
	}
	
#block-content-bottom-left {
	width:92%;
	height:85px;
	float:left;
	margin:0px;
	padding:0px;
	}
	
#footer-container {
	border-top:5px solid #5F7558;
	padding-top:15px;
	margin-top:30px;
	}
	
#footer-left {
	font-size:50px;
	font-weight:bold;
	}
	
#footer-right {
	font-weight:bold;
	}

/******************
SIDE LAYOUT 
******************/

#side-container-outer {
	width:20%;
	position:absolute;
	top:120px;
	left:0px;
	padding-bottom:100px;
	}
	
#block-side-top-right {
	width:92%;
	height:25px;
	float:right;
	}
	
#block-side-top-left {
	width:8%;
	height:25px;
	float:left;
	background: url(block-side-top-left.gif) no-repeat top right;
	}

#side-container-inner{
	background: #929E8E;
	margin:0px;
	padding:0px;
	}
	
#side {
	background: #FFFFFF;
	width:70%;
	margin-left:8%;
	padding:0 12% 10px 10%;
	}	
	
#block-side-bottom-left {
	width:8%;
	height:25px;
	float:left;
	background: url(block-side-bottom-left.gif) no-repeat bottom right;
	margin:0px;
	padding:0px;
	}
	
#block-side-bottom-right {
	width:92%;
	height:25px;
	float:right;
	margin:0px;
	padding:0px;
	}
	
	
/******************
Two Column Section
******************/
#leftcontent {
		float:left;
		width:80%;
		margin-right:15px;
		padding-bottom:20px;
    }

#rightcontent {		}

/******************
Two Column Section balanced
******************/
#leftcontentbal {
		float:left;
		width:50%;
		margin-right:15px;
		padding-bottom:20px;
    }

#rightcontentbal {		}



#two-column-container {
	width:100%;
	margin:10px 0px;
	padding:10px 0px
	}

#two-column-left {
	float:left;
	width:71%;
	}

#two-column-right {
	float:right;
	width:15%;
	border: border:5px solid #5F7558;
	}

#two-column-middle {
	width:5%;
	margin:0px 10% 0px 10%;
	
	}
	
	


/******************
Three Column Section
******************/

#three-column-container {
	width:100%;
	margin:10px 0px;
	padding:10px 0px
	}

#three-column-left {
	float:left;
	width:30%;
	}

#three-column-right {
	float:right;
	width:30%;
	}

#three-column-middle {
	width:30%;
	margin:0px 31% 0px 35%;
	}
	
	
/******************
Three Column Section Wide Middle
******************/

#three-column-containerw {
	width:100%;
	margin:10px 0px;
	padding:10px 0px
	}

#three-column-leftw {
	float:left;
	width:15%;
	}

#three-column-rightw {
	float:right;
	width:15%;
	}

#three-column-middlew {
	width:55%;
	margin:0px 22% 0px 22%;
	}

/******************
Menu Items
******************/

#side ul {
	margin:0px;
	padding:0px;
	font-size:1.3em;
	}

#side li {
	padding-bottom:10px;
	list-style:none;
	}

/******************
LISTS - IN THE CONTENT AREAS
******************/

#content ul.list, #content ul.link-list-vertical {
	margin:0px 0px 15px 15px;
	padding:0px;
	}

#content ul.list li {
	list-style:none;
	padding:1px 0px 1px 12px;
	margin:0px;
	background: url(bullet.gif) no-repeat;
	background-position: 0 .3em;
	}

#content ul.link-list-vertical li {
	list-style:none;
	margin:0px;
	}

#content ul.link-list-vertical li a {
	padding:1px 0px 1px 12px;
	background: url(bullet-link.gif) no-repeat;
	background-position: 0 .3em;
	}

/******************
TABLE STYLES
******************/

table.table {
	width:100%;
	border:5px solid #5F7558;
	background-color:#EBECF4;
	border-collapse:collapse;
	}

thead th {
	padding:6px;
	}

tfoot th {
	padding:6px;
	}

.table-row-1 td {
	padding:2px 6px;
	border:1px solid #5F7558;
	background-color:#DDDDDD;
	}

.table-row-2 td {
	padding:2px 6px;
	border:1px solid #5F7558;
	}

/******************
CLASSES 
******************/

img.sponsors
{
    border: 0px;
}

img.photobig, img.photosmall {
	border:10px solid #5F7558;
	}

img.photosmall {
	margin-right:10px;
	margin-bottom:2px;
	float: left;
	}

input.button-big {
	margin-top:10px;
	padding:4px 12px;
	font-weight:bold;
	}
	
.none {
	display:none;
	}

.clear {
	clear:both;
	}


/******************
From Jason Mauer 
******************/

DIV.session
{
	margin-bottom:1em;
	border:1px dotted #CCCCCC;
}

DIV.session DIV
{
	padding-left:3px;
	padding-right:3px;
}

DIV.session .title
{
	font-size:110%;
	font-weight:bold;
	float: left;
	text-align: left;
}

DIV.session .wiki
{
	font-size:110%;
	text-align: right;
}

DIV.session .level
{
	text-transform:capitalize;
	text-align: right;
	color: #606060;
}

DIV.session .title A
{
	color:black;
}

DIV.session .presenters
{
	font-style:italic;
	float: left;
	text-align: left;
}

DIV.session .summary
{
    
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-left:2em;
	padding-right:2em;
}


DIV.session .tags
{
	border-top:1px dotted #CCCCCC;
	background-color:#EEEEEE;
	width: 100%;
}

/* PGK add for presentations */
/*DIV.session .room 
{
    text-align: left;
    left: 1%;
	width: 20%;
	float: left;
}
*/

DIV.AgendaTime
{
    text-align: left;
    left: 1%;
    width: 50%;
    float: left;
    color:  	#606060;
}

DIV.ClassRoom
{
     text-align: right;
     color:  	#606060;
}

DIV.session .interestlevel
{
    color:  	#606060;
}

/* from blogatlas project */
.RssButton
{
	background-image: url(feed.png);
	background-repeat: no-repeat;
	background-position:left;
	padding-left: 18px;
}

.FeedLink
{
	border: solid 1px #cccccc;
	padding: 3px 3px 3px 3px;
}

.RadioButtonListVertical
{
    margin: 35x 35px 35px 35px;
}

.CodeCampEval
{
    font-size: smaller;
}