// Bourbon mixin
@import 'bourbon/bourbon';

// Resets default style
@import "compass/reset";


// Import Fonts
@import url(http://fonts.googleapis.com/css?family=Scada);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

// Font face
@import "compass/css3/font-face";
// Handel Gothic
@include font-face("HandelGothic", font-files("/Content/Fonts/handel-gothic-bt.ttf", "/Content/Fonts/handel-gothic-bt.eot"));

/* Font stacks */
@mixin scadaFont {
  font-family: 'Scada', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin handelGothicFont {
  font-family: 'HandelGothic', 'Scada', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin arialFont {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin calibriFont {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

@mixin helveticaFont {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin georgiaFont {
  font-family: Georgia, Times, "Times New Roman", serif;
}

@mixin tahomaFont {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

@mixin verdanaFont {
  font-family: Verdana, Geneva, sans-serif;
}

// Sprites
@mixin imageSprites {
  background: transparent url('../Images/sprites.png') no-repeat;
}

// Main Layout Structure
// Fixed width, Header, 2 sidebars, main content, footer on window bottom

html {
  height: 100%;
}
header, nav, section, article, aside, footer {
  display: block;
}
body {
  font-size: 12px/18px;
  @include scadaFont;
  width: 100%;
  height: 100%;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
#wrapper {
  width: 1018px;
  padding-top: 15px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
  height: 157px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 100%;
  padding: 0 0 100px;
  height: 1%;
  position: relative;
  padding: 15px 0 25px;
}
#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#container {
  width: 100%;
  float: left;
  overflow: hidden;
}
#contentWrap {
  padding: 0 190px 0 190px;
}
#content {
  background-color: #fff;
  padding: 16px
}

.roundBorder {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  @include box-shadow(0px 0px 6px 3px hsla(0, 0%, 0%, 0.1));
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
  float: left;
  width: 178px;
  margin-left: -100%;
  position: relative;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
  float: left;
  margin-right: -3px;
  width: 178px;
  margin-left: -180px;
  position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 1000px;
  margin: 0 auto;
  height: 100px;
  background: #3c3b3b;
  height: 55px;
  border-top-right-radius: 10px;
  @include box-shadow(0 0 6px 3px hsla(0, 0%, 0%, 0.2));

}

// End - Main Layout Structure

// Buttons
a.button, div {
  &.round {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    @include handelGothicFont;
    padding: 9px;
    text-shadow: 0 1px #62125b;
    text-decoration: none;
    color: #fff;
    font: {
      size: 14px;
    }
  }
  &.magenta {
    background-color: #84197f;
    &:hover {
      background-color: #a920a0;
      text-shadow: none;
    }
  }
  &.blue {
    background-color: #25aae1;
    text-align: center;
    &:hover {
      background-color: #29bbf8;
      text-shadow: none;
    }
  }
  &.gray {
    background-color: #f3f2f3;
    text-align: center;
    text-shadow: 0 1px #fff;
    color: #5e5d5d;
    &:hover {
      background-color: #f8f8f8;
      text-shadow: none;
    }
    &.border {
      border: 1px solid #c5c5c5;
      &:hover {
        border-color: #5e5d5d;
      }
    }
  }
}
// End - Buttons

body {
  background: #d3d0d1 url('../Images/bg.jpg');
}

// Links
a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #25aae1;
    text-decoration: underline;
  }
}
// End - Links

// Rounded Select input
.roundSelect {

  .select {
    height: 31px;
    cursor: pointer;
    &:hover .label, &:hover .arrow {
      background-color: #e9e7e9;
      border: 1px solid #c5c5c5;
    }
    &:active .label, &:active .arrow {
      background-color: #dddbdd;
    }

    .label {
      border-bottom-left-radius: 10px;
      vertical-align: top;
      height: 15px;
      display: inline-block;
      border: 1px solid #ececec;
      border-right: 1px solid #e3e2e3;
      padding: 9px 8px 6px;
      background-color: #faf9fa;
      text-align: top;
      vertical-align: top;
      font-size: 14px;
      .icon {
        width: 14px;
        height: 14px;
        display: inline-block;
        @include imageSprites;
        background-position: -9999px -9999px;
        margin: 0 4px 0px 5px;
      }

      .text {
        display: inline-block;
        vertical-align: text-top;
      }
    }
    .arrow {
      border-top-right-radius: 10px;
      border: 1px solid #ececec;
      border-left: 1px solid #fff;
      display: inline-block;
      @include imageSprites;
      width: 24px;
      height: 30px;
      background-position: 5px -138px;
      background-color: #faf9fa;

    }

  }
}

// Element disply and visiblity
.hidden {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}
// End - Element disply and visiblity

// Header
#header {
  background: #fff url('../Images/header-bg.jpg') no-repeat;
  @include box-shadow(0px 2px 6px 3px hsla(0, 0%, 0%, 0.1));
  .logoInfoBar {
    height: 107px;
    >div {
      float: left;
      margin: 15px;
    }
    .logoWrap {
      padding: 6px 10px 0;

      text-align: center;
    }
    .dateWrap, .venueWrap {
      @include handelGothicFont;
      border-left: 1px solid #e2e3e4;
      padding: 19px 15px;
      text-shadow: 0 1px #fff;
    }
    .dateWrap {
      text-align: center;
      color: #5c5c5c;
      font: {
        size: 19px;
        weight: bold;
      }
      width: 307px;
    }
    .venueWrap {
      text-align: left;
      color: #9ea0a4;
      font-size: 12px;
      margin-left: 0;
      .title {
        font: {
          size: 16px;
          weight: bold;
        }
        color: #5c5c5c;
      }
    }
  }
  .menuUserBar {
    clear: both;
    height: 48px;
    margin: 0 10px;
    .menuWrap {
      float: left;
      border-right: 1px solid #1d1915;
      height: 48px;
      width: inherit;
      > ul {
        > li {
          list-style-type: none;
          float: left;
          color: #fff;
          @include handelGothicFont;
          font-size: 14px;
          height: 49px;
          border-right: 1px solid #7c7b7b;
          border-left: 1px solid #1d1915;
          div > a {
            color: #fff;
            padding: 17px 20px;
            display: block;
            h2 {
              padding: 0;
              margin: 0;
              display: inline;
              text-shadow: 0 1px #000;
            }
          }
          &:first-child {
            border-left: none;
          }
          .menuItemWrap {
            .imgWrap {
              width: 10px;
              height: 10px;
              padding-right: 5px;
              display: inline-block;
              background: transparent url('../Images/sprites.png') no-repeat;
            }
          }
          &.program .imgWrap {
            background-position: -25px 0;
          }
          &.giving .imgWrap {
            background-position: -50px 0;
          }
          &.news .imgWrap {
            background-position: -75px 0;
          }
          &.about .imgWrap {
            background-position: -100px 0;
          }
          // Dropdown
          ul {
            float: left;
            padding: 10px 0;
            width: 100%;
            list-style: none;
            background-color: #F5F5F5;
            z-index: 9999;
            left: auto;
            position: absolute;
            padding: 8px 18px 8px 12px;
            width: 150px;
            margin-top: 1px;
            @include box-shadow(0px 0px 6px 2px hsla(0, 0%, 0%, 0.3));
            background: #F5F5F5 url('../Images/header-submenu-bg.png') no-repeat;
            background-position: bottom;
            display: none;
            visibility: hidden;
            li {
              border: none;
              color: #5c5c5c;
              border-bottom: 1px dotted #cdcdcd;
              @include scadaFont;
              padding: 8px 0;
              &:last-of-type {
                border-bottom: none;
              }
              a {
                padding: 4px;
                width: 100%;
                display: block;
                text-shadow: 0 1px #fff;
                &:hover {
                  color:  #fff;
                  background-color: #4b4a4a;
                  text-decoration: none;;
                  text-shadow: 0 1px #000;
                }
              }
              span {
                width: 8px;
                height: 8px;
                padding-right: 6px;
                display: inline-block;
                @include imageSprites;
                background-size: 219px 160px;
              }
            }
          }
          &.program ul span {
            background-position: -20px 0;
          }
          &:hover {
            background-color: #383737;
            a {
              text-decoration: none;
              h2 {
                text-shadow: 0 -1px 2px #000;
              }
            }
            ul {
              display: block;
              visibility: visible;
            }
          }
          // End - Dropdown
        }
      }
    }
    .userWrap {
      width: 300px;
      height: inherit;
      float: right;
      .loginForm {
        @include scadaFont;
        padding-top: 17px;
        text-align: right;
        color: #fff;
        font: {
          size: 16px;
        }
      }
    }
  }
}
// End - Header

// Sidebar
.sidebar {
  .sectionBreak {
    height: 20px;
    clear: both;
  }
  .sectionTitle {
    @include handelGothicFont;
    color: #5c5c5c;
    text-shadow: 0 -1px #e8e6e6;
    font: {
      size: 19px;
      weight: bold;
    }
  }
  .section {
    background-color: #fff;
    min-height: 100px;
  }
}

// Sidebar Left
#sideLeft {
  .daysCountdown {
    &.HIDE-ME-WITH-CSS {
      display: none;
    }
    background: #e7e7e7 url('../Images/daysCountdownReflection.png') no-repeat;
    height: 106px;
    text-align: center;
    color: #5c5c5c;
    @include handelGothicFont;
    font: {
      size: 19px;
      weight: bold;
    }
    h1 {
      padding-top: 23px;
    }
    .daysNumber {
      font-size: 36px;
      text-shadow: 0 -1px #fff;
      line-height: 38px;
    }
  }

  .sectionTitle {
    padding: 0 0 8px 8px;
    h2 {
      display: inline-block;
    }
  }

  .luggageIcon, .laptopIcon {
    width: 29px;
    height: 24px;
    display: inline-block;
    @include imageSprites;
    margin-bottom: -4px;
  }

  .luggageIcon {
    background-position: -100px -175px;
  }

  .laptopIcon {
    background-position: -100px -150px;
  }

  .section {
    padding: 15px;
    .listWrap {
      ul {
        li {
          border-bottom: 1px dotted #ccc;
          line-height: 16px;
          @include scadaFont;
          font: {
            size: 13px;
          }
          padding: 8px 0 4px;
          color: #333;
          .date {
            color: #92278f;
            font-size: 12px;
            font-weight: bold;
          }
          a {
            color: #000;
            text-decoration: none;
            font: {
              size: 14px;
              weight: bold;
            }
            &:hover {
              text-shadow: none;
              text-decoration: underline;
              color: #333;
            }
          }
        }
      }
    }
    .buttonWrap {
      clear: both;
      text-align: center;
      margin: 20px 0 10px;
    }
  }

  .sponsor {
    width: 177px;
    height: 73px;
    background: #e9e9e9 url('../Images/sidebarLeft-sponsor-bg.png') no-repeat;
    .wrap {
      text-align: center;
      padding-top: 20px;
    }
    a.orcsweb {
      width: 110px;
      height: 30px;
    }
  }
}
// End -  Sidebar Left

// Sidebar Right
#sideRight {
  .socialMediaChannels {
    width: 142px;
    height: 82px;
    margin: 30px 0 0 20px;
    ul {
      li {
        a {
          @include imageSprites;
          text-indent: -9999px;
          width: 36px;
          height: 36px;
          float: left;
          margin: 0 6px 6px 0;
        }
        &.facebook a {
          background-position: 0 -50px;
          &:hover {
            background-position: -150px -50px;
          }
        }
        &.twitter a {
          background-position: -39px -50px;
          &:hover {
            background-position: -191px -50px;
          }
        }
        &.googlePlus a {
          background-position: -80px -50px;
          &:hover {
            background-position: -231px -50px;
          }
        }
        &.linkedIn a {
          background-position: 0px -91px;
          &:hover {
            background-position: -150px -91px;
          }
        }
        &.rss a {
          background-position: -40px -91px;
          &:hover {
            background-position: -191px -91px;
          }
        }
        &.contact a {
          background-position: -80px -91px;
          &:hover {
            background-position: -231px -91px;
          }
        }
      }
    }
  }

  // Sponsors
  .sectionTitle.sponsors {
    margin: 0 0 8px 6px;
  }
  .section.sponsors {
    .button.becomeSponsor {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      padding: 9px;
      background-color: #25aae1;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #29bbf8;
        a {
          text-shadow: none;
        }
      }
      margin: 0 auto;
      width: 116px;
      height: auto !important;
      a {
        text-shadow: 0 1px #1c84a5;
        @include handelGothicFont;
        text-decoration: none;
        color: #fff;
      }
    }

    a.button.gray {
      width: 116px;
      display: block;
      margin: 0 auto;
    }

    .sponsorsListWrap {
      padding-top: 15px;
      dl {
        dt {
          border-top: 1px solid #c7c7c7;
          background-color: #f8f6f8;
          a {
            vertical-align: top;
            display: block;
            color: #6e6e6e;
            text-shadow: 0 1px #FFF;
            padding-left: 8px;
            line-height: 8px;
          }
          span.arrow {
            @include imageSprites;
            width: 16px;
            height: 23px;
            display: inline-block;
            padding-top: 3px;
            background-position: 1px -168px;
            border-right: 1px solid #e3e2e3;
          }
          span.label {
            display: inline-block;
            vertical-align: top;
            padding: 7px 0 0 10px;
            border-left: 1px solid #fff;
            height: 19px;
            @include handelGothicFont;
            line-height: 14px;
            font-size: 14px;
          }
          font: {
            size: 14px;
          }
          &:last-of-type {
            border-bottom: 1px solid #c7c7c7;
            a {
              height: 44px;
            }
            span.arrow {
              height: 41px;
            }
            span.label {
              height: 37px;
            }
          }
          &.active {
            span.arrow {
              background-position: 0 -141px;
            }
          }
        }
        dd {
          display: none;
          &.active {
            display: block;
          }
          table {
            width: 178px;
            border-top: 1px solid #e6e6e6;
            tr {
              td {
                font-size: 13px;
                width: 89px;
                padding: 2px 0 2px 8px;
                border-right: 1px solid #e6e6e6;
              }
            }
          }
        }
      }
    }

  }
  // End - Sponsors

}
// End - Sidebar Right

// Floating panel
.floatingPanel {
  display: none;
  position: absolute;
  margin-left: 223px;
  z-index: 9999;
  top: 0;
  left: 0;

  .closePanelButton {
    float: right;
    width: 90px;
    margin-left: 493px;
    height: 32px;
    z-index: 10;
    background-color: #eeeeee;
    border-bottom-left-radius: 10px;
    position: absolute;
    cursor: pointer;
    .icon {
      width: 80px;
      height: 25px;
      margin: 3px 0 0 10px;
      @include imageSprites;
      background-position: -50px -20px;
    }
  }

  .contentWrap {
    background: #fff url('../Images/floating-panel-bg.png') repeat-x right top;
    border: 2px solid #fff;
    @include scadaFont;
    font-size: 14px;
    line-height: 15px;
    @include box-shadow(0px 0px 6px 4px hsla(0, 0%, 0%, 0.4));
    padding: 5px;
  }
  .footer {
    .pointer {
      float: left;
      width: 22px;
      height: 22px;
      @include imageSprites;
      background-position: -150px -150px;
      position: absolute;
      margin-left: 480px;
      top: 230;
      left: 0;
    }
  }
}

// Main Content
#contentWrap {
  h1.title {
    @include handelGothicFont;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 0 2px #f5f5f5;
    color: #5c5c5c;
  }
  // Sessions
  .sessionsWrap {
    padding-top: 15px;

    // Sessions Filters
    .sessionsFilterWrap {
      background-color: #f6f3f6;
      @include box-shadow(none);
      border: 1px solid #c5c5c5;

      // for Icon elements usng global image sprite
      .icon, span.checkbox {
        @include imageSprites;
        display: block;
      }

      .header {
        height: 40px;
        background-color: #f8f8f8;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: 1px solid #d8dadb;
        @include box-shadow(0px 3px 3px 1px hsla(0, 0%, 0%, 0.1));
        .arrow {
          width: 41px;
          vertical-align: top;
          height: 41px;
          display: inline-block;
          cursor: pointer;
          border-right: 1px solid #d8dadb;
          .icon {
            background-position: -175px -175px;
            margin: 15px 0 0 17px;
            display: block;
            width: 16px;
            height: 13px;
          }
          &.active {
            .icon {
              background-position: -150px -175px;
              margin: 17px 0 0 15px;
            }
          }
        }
        .label {
          display: inline-block;
          @include handelGothicFont;
          padding-left: 15px;
          font: {
            size: 16px;
            weight: bold;
          }
          color: #656565;
          text-shadow: 0px 1px #ccc;
          padding-top: 13px;
        }
      }
      .filterContentWrap {
        padding: 14px;

        // options
        .optionsWrap ul {
          padding-top: 8px;
          li {
            @include scadaFont;
            font-size: 14px;
            float: left;
            cursor: pointer;
            .checkbox {
              width: 10px;
              height: 10px;
              display: inline-block;
              background-position: 0 -20px;
              margin-right: 5px;
            }
            margin: 3px 5px;
            &.selected {
              .checkbox {
                background-position: 0 0;
              }
            }
          }
        }
        .labelWrap {
          @include handelGothicFont;
          font-size: 16px;
        }
        .daysFilterWrap, .timeFilterWrap, .categoryFilterWrap, .tagsFilterWrap {
          margin-bottom: 5px;
          clear: both;
        }
        .labelWrap {
          vertical-align: top;
          padding-top: 6px;
          display: inline-block;
          width: 80px;
          .icon {
            width: 20px;
            height: 20px;
            display: inline-block;
          }
          .label {
            display: inline-block;
            vertical-align: top;
            padding-top: 3px;
          }
        }
        .optionsWrap {
          vertical-align: top;
          display: inline-block;
        }
        // Days filter
        .daysFilterWrap {
          .labelWrap {
            .icon {
              background-position: 0 -250px;
              margin-right: 5px;
            }
          }

        }
        // End - Days filter

        // Time filter
        .timeFilterWrap {
          .labelWrap {
            .icon {
              background-position: -25px -250px;
              margin-right: 5px;
            }
          }

          .optionsWrap {
            padding-top: 8px;
            .timeOption {
              padding-bottom: 4px;
              .dayLabel {
                vertical-align: top;
                width: 65px;
                padding-top: 4px;
                display: inline-block;
                font-weight: bold;
                font-size: 13px;
              }
              .timesWrap {
                vertical-align: top;
                display: inline-block;
                ul {
                  padding-top: 0;
                }
              }
            }
          }
        }
        // End -  Time filter

        // Category filters
        .categoryFilterWrap {
          .labelWrap {
            .icon {
              background-position: -75px -250px;
              margin-right: 5px;
            }
            width: 110px;
          }
          .optionsWrap {
            width: 450px;
          }
        }
        // End - Category filters

        // Tags filters
        .tagsFilterWrap {
          border-top: 1px solid #d8d7db;
          padding-top: 2px;
          .labelWrap {
            .icon {
              background-position: -50px -250px;
              margin-right: 5px;
            }
          }
          .optionsWrap {
            width: 375px;
          }
          .buttonRightWrap {
            width: 110px;
            display: inline-block;
            padding-top: 5px;
          }
        }
        // End - Tags filters

        // Tag filter button
        .tagFiltersButton {
          cursor: pointer;
          width: 104px;
          .label, .arrow {
            vertical-align: top;
            border: 1px solid #4a4a4a;
            background-color: #5c5c5c;
            display: inline-block;
            height: 26px;
          }
          &:hover {
            .label, .arrow {
              background-color: #676767;
            }
          }
          .label {
            border-bottom-left-radius: 10px;
            font-size: 13px;
            color: #fff;
            text-shadow: 0 1px #333;
            span {
              display: block;
              padding: 6px 6px 0;
            }
          }
          .arrow {
            border-left: 1px solid #9c9c9c;
            border-top-right-radius: 10px;
            width: 23px;
            .icon {
              width: 10px;
              height: 12px;
              background-position: -150px -200px;
              margin: 7px 0 0 8px;
            }
          }
        }
        // End - Tag filter button
      }
    }
    // End - Sessions Filters

    // Session Group and Search bar
    .sessionGroupSearchWrap {
      @include scadaFont;
      padding-top: 10px;
      font-size: 14px;
      .groupWrap {
        width: 240px;
        display: inline-block;
        >.label {
          vertical-align: top;
          margin-top: 10px;
          width: 110px;
          display: inline-block;
        }
        .groupSessionsSelect {
          padding-right: 10px;
          display: inline-block;
          .roundSelect {
            width: 78px;
            .label {
              font-weight: bold;
              font-size: 13px;
            }
          }
        }
      }
      .searchWrap {
        vertical-align: top;
        width: 350px;
        display: inline-block;
        >.label {
          vertical-align: top;
          margin-top: 10px;
          width: 50px;
          display: inline-block;
        }
        .searchInputWrap {
          display: inline-block;
          > div {
            float: left;
            height: 26px;
            display: inline-block;
          }
          .searchTypeWrap {
            background-color: #f5f4f4;
            border: 1px solid #c5c5c5;
            border-right: none;
            border-bottom-left-radius: 10px;
            font-weight: bold;
            width: 90px;
            .label, .arrow {
              display: inline-block;
              vertical-align: top;
            }
            .label {
              padding: 6px 0 0 6px;
              font-size: 13px;
            }
            .arrow {
              display: inline-block;
              @include imageSprites;
              width: 24px;
              height: 30px;
              background-position: 5px -140px;
            }
          }
          .inputWrap {
            input {
              height: 18px;
              padding: 4px 0;
              margin: 0;
              border: 1px solid #c5c5c5;
            }
          }
          .searchButtonWrap {
            width: 28px;
            height: 32px;
            input {
              height: 28px;
              width: 32px;
              border-top-right-radius: 10px;
              border: 1px solid #4a4a4a;
              @include imageSprites;
              background-position: -45px -196px;
              background-color: #5c5c5c;
            }
            .icon {

              width: 21px;
              height: 17px;
              display: block;

              margin: 5px 0 0 5px;
            }
          }
        }
      }
    }
    // End - Session Group and Search bar

    .sessionsList {
      padding-top: 15px;
      h4 {
        color: #676767;
        font-size: 18px;
        @include scadaFont;
        border: 1px solid #ececec;
        background-color: #faf7fa;
        padding: 8px;
      }
      table {
        width: 100%;
        tr {
          border-bottom: 1px dotted #b8b7b7;
          &:last-child {
            border-bottom: none;
          }
        }
        td {
          padding: 11px 8px;
          color: #2e363d;
          font-size: 14px;
          i {
            font-style: italic;
          }
          a.author {
            font-weight: bold;
          }

          .detailsBtn {
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 1px solid #ececec;
            background-color: #faf9fa;
            padding: 4px 8px;
            vertical-align: top;
            font-size: 13px;
            &:hover {
              background-color: #e9e7e9;
              border: 1px solid #c5c5c5;
            }
            &:active {
              background-color: #dddbdd;
            }
          }

          // Intereset Select button
          .interestSelectBtn {

            .select {
              width: 153px;
              height: 31px;
              cursor: pointer;
              &:hover .label, &:hover .arrow {
                background-color: #e9e7e9;
                border: 1px solid #c5c5c5;
              }
              &:active .label, &:active .arrow {
                background-color: #dddbdd;
              }

              .label {
                border-bottom-left-radius: 10px;
                vertical-align: top;
                width: 116px;
                height: 17px;
                display: inline-block;
                border: 1px solid #ececec;
                border-right: 1px solid #e3e2e3;
                padding: 9px 8px 6px 0;
                background-color: #faf9fa;
                text-align: top;
                vertical-align: top;
                .icon {
                  width: 14px;
                  height: 14px;
                  display: inline-block;
                  @include imageSprites;
                  background-position: -9999px -9999px;
                  margin: 0 4px 0px 5px;
                }

                .text {
                  display: inline-block;
                  vertical-align: text-top;
                }
              }
              .arrow {
                border-top-right-radius: 10px;
                border: 1px solid #ececec;
                border-left: 1px solid #fff;
                display: inline-block;
                @include imageSprites;
                width: 24px;
                height: 32px;
                background-position: 5px -138px;
                background-color: #faf9fa;

              }

            }

            &.Interested {
              .select {
                .label {
                  background-color: #e18309;
                  border: 1px solid #e18309;
                  color: #fff;
                  .icon {
                    background-position: -50px -150px;
                  }
                }
              }
            }
            &.Attending {
              .select {
                .label {
                  background-color: #39b54a;
                  border: 1px solid #39b54a;
                  color: #fff;
                  .icon {
                    background-position: -25px -148px;
                  }
                }
              }
            }

            // Select options
            .selectOptionsWrap {
              z-index: 9999;
              width: 140px;
              position: absolute;
              margin-top: -34px;
              margin-left: -6px;
              background-color: #f3f1f3;
              border: 1px solid #c5c5c5;
              padding: 8px;
              @include box-shadow(0px 3px 3px 1px hsla(0, 0%, 0%, 0.3));
              border-top-right-radius: 10px;
              border-bottom-left-radius: 10px;
              cursor: default;
              visibility: invisible;
              .option {
                border-bottom: 1px dotted #aaa;
                padding: 4px;
                cursor: pointer;
                margin: 2px 0;
                &:hover {
                  background-color: #fff;
                  color: #000;
                  border-bottom: 1px solid #25aae1;
                }
                .icon {
                  width: 14px;
                  height: 14px;
                  @include imageSprites;
                  background-position: -999px -9999px;
                  display: inline-block;
                  margin: 6px 4px 0px;
                }
                &.interested .icon {
                  background-position: -50px -176px;
                }
                &.attending .icon {
                  background-position: -25px -175px;
                }
                .label {
                  border: none;
                  display: inline-block;
                  vertical-align: text-top;
                  padding: 0;
                  margin: -2px 0 0 8px;
                }
              }
            }
            // End - Select options

          }
          // End - Intereset Select button

          // Details button
          div.detailsBtn {
            cursor: pointer;
            div.icon {
              width: 11px;
              display: inline-block;
              height: 18px;
              @include imageSprites;
              background-position: -75px -150px;
              margin: 2px 4px 0 2px;
            }
            div.label {
              vertical-align: top;
              margin: 5px 0 0 3px;
              display: inline-block;
            }
          }
          // End - Details button

          &.title {
            width: 330px;
            line-height: 16px;
            .description {
              display: none;
            }
          }
          &.action {
            width: 150px;
          }
          &.details {
            width: 105px;
          }

        }
      }
      .sessionDetails, .sessionDescription, .speakerInfo, .sessionUrl  {
        display: none;
      }
	 

    }

    #selectOptionsWrap {
      display: none;
    }

  }

   // I'm hiding all the tagInfo here. not really sure why it is at this level PGK
   .tagInfo {
	    display: none;
   }

  // Session Details Floating panel
  .detailsFloatingPanel {
    width: 585px;
    height: 220px;
    .content {
      margin: 10px 5px 5px;
      vertical-align: top;
      a {
        color: #25aae1;
      }
      .buttonWrap {
        a {
          color: #fff;
        }
      }
      .sessionWrap {
        width: 310px;
        height: 190px;
        display: inline-block;
        padding-right: 10px;
        .textWrap {
          height: 155px;
          overflow: hidden;
          margin-bottom: 12px;
        }
        h3 {
          font-weight: bold;
          font-size: 19px;
          padding: 0 10px;
          line-height: 19px;
        }
        .details {
          height: 20px;
          font-size: 13px;
          background-color: #eaeaea;
          vertical-align: top;
          margin: 5px 0;
          padding: 8px 4px 0;
          vertical-align: top;
          .timeIcon, .mapLocationIcon {
            display: inline-block;
            width: 16px;
            height: 16px;
            @include imageSprites;
            background-position: -9999px -9999px;
            margin: -2px 5px -5px 3px;
          }
          .timeIcon {
            background-position: -75px -200px;
          }
          .mapLocationIcon {
            background-position: -75px -175px;
          }
          a {
            vertical-align: top;
          }
        }
        p {
          padding: 5px;
          font-size: 14px;
          line-height: 15px;
          overflow: hidden;
          height: 72px;
        }
        .footer {
          padding-top: 4px;
          .buttonWrap {
            float: right;
          }
        }
      }
      .speakerWrap {
        width: 225px;
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid #d9d9d9;
        min-height: 192px;
        margin: 0;
        vertical-align: top;
        .title {
          font-size: 18px;
          padding: 8px 0 12px;
        }
        .avatarWrap {
          width: 65px;
          height: 80px;
          display: inline-block;
          vertical-align: top;
        }
        .speakerInfoItem {
          width: 225px;
          height: 92px;
          overflow: hidden;
          margin-bottom: 10px;
        }
        .speakerInfo {
          display: inline-block;
          width: 150px;
          font-size: 14px;
          line-height: 15px;
          a {
            font-weight: bold;
          }
          p {
            font-size: 14px;
            line-height: 15px;
          }
        }
        .sessionType {
          font-size: 15px;
          line-height: 18px;
          .label {
            font-size: 14px;
          }
        }
      }
    }
  }
  // End - Details Floating panel

  // Speaker floating panel
  .speakerPanel {
    float: left;
    width: 255px;
    height: 145px;
    margin-left: 195px;
    .content {
      padding: 5px 0;
    }
    .speakerAvatarWrap, .speakerInfoWrap {
      display: inline-block;
      vertical-align: top;
    }
    .speakerAvatarWrap {
      width: 85px;
      height: 100px;
    }
    .speakerInfoWrap {
      width: 150px;
      > a {
        color: #25aae1;
      }
    }
    .footer {
      .pointer {
        margin-left: 30px;
      }
    }
  }
  // End - Speaker floating panel

  // Sponsor floating panel
  .sponsorPanel {
    width: 275px;
    height: 145px;
    .content {
      padding: 5px 0;
    }
    .sponsorLogoWrap, .sponsorInfoWrap {
      display: inline-block;
      vertical-align: top;
    }
    .sponsorLogoWrap {
      width: 75px;
      height: 100px;
    }
    .sponsorInfoWrap {
      width: 180px;
      > a {
        color: #25aae1;
      }
    }
    .footer {
      .pointer {
        margin-left: 190px;
      }
    }
  }
  // End - Sponsor floating panel

  // End - Sessions
}
// End - Main Content

// Footer
.footerWrap {
  padding-top: 14px;
  @include handelGothicFont;
  .creditsWrap {
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    float: left;
    margin-left: 20px;
    a {
      color: #fff;
    }
  }
  .linksWrap {
    float: right;
    ul {
      li {
        float: left;
        padding: 8px 20px 0 0;
        a {
          color: #fff;
          text-decoration: none;;
          font {
            size: 16px;
            weight: bold;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
// End - Footer

// Tags filter floating panel
#tagsFilterLightbox {
  width: 780px;
  margin: 10px 0 0 120px;
  z-index: 9999;
  .closePanelButton {
    margin-left: 682px;
  }
  // for Icon elements usng global image sprite
  span.checkbox {
    @include imageSprites;
    display: block;
  }
  .contentWrap {
    height: 370px;
    padding: 20px;
    .header {
      h3 {
        @include handelGothicFont;
        font-size: 24px;
        color: #3c3c3c;
      }
    }
    .buttonWrap {
      padding-top: 10px;
      height: 40px;
      margin-left: 50%;
      .finishButton {
        margin-left: -50px;
        cursor: pointer;
        width: 100px;
        .icon {
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-bottom: -3px;
          @include imageSprites;
          background-position: -25px -20px;
        }
        .label {
          display: inline-block;
        }
      }
    }
  }
  .tagsCheckboxWrap {
    clear: both;
    height: 315px;
    // Todo: Work on CSS comptability for column list for IE 8 below
    ul {
      padding-top: 8px;
      li {
        @include scadaFont;
        font-size: 14px;
        cursor: pointer;
        width: 130px;
        height: 17px;
        padding: 4px 5px 0;
        position: relative;
        .checkbox {
          width: 10px;
          height: 10px;
          display: inline-block;
          background-position: 0 -20px;
          margin-right: 5px;
        }
        margin: 3px 5px;
        &:hover {
          background-color: #ececec;
        }
        &.selected {
          background-color: #e6e6e6;
          border-top-left-radius: 6px;
          border-bottom-right-radius: 6px;
          .checkbox {
            background-position: 0 0;
          }
        }
        &:nth-of-type(14), &:nth-of-type(27), &:nth-of-type(40), &:nth-of-type(53) {
          margin-top: -312px;
        }
        &:nth-of-type(n+14) {
          margin-left: 150px;
        }

        &:nth-of-type(n+27) {
          margin-left: 290px;
        }

        &:nth-of-type(n+40) {
          margin-left: 440px;
        }

        &:nth-of-type(n+53) {
          margin-left: 590px;
        }
      }
    }
  }
}

// End - Tags filter floating panel

.clearBoth {
  clear: both;
}
