<footer id="footer">

    <div class="footerWrap">

        <div class="creditsWrap">
            Copyright © 2013   Silicon Valley Code Camp
               
                <br />
            Site Built with ASP.NET 4.0 by <a href="http://peterkellner.net" target="_blank">PeterKellner.net</a>
        </div>
        <div class="linksWrap">
            <ul>
                <li><a href="#">TERMS & CONDITIONS</a></li>
                <li><a href="mailto:info@siliconvalley-codecamp.com">CONTACT</a></li>
                <li><a href="#">SITE MAP</a></li>
            </ul>
        </div>
    </div>
</footer>
