﻿@model WebAPI.ViewModels.CommonViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* <link href="/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet"/>
    <link href="/Content/kendo/2012.3.1114/kendo.default.min.css" rel="stylesheet"/>*@
    <link href="/Content/Styles/svcc.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.8.2.min.js"></script>


    @* <script src="/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>*@



    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            // Sponsors accordion
            var sponsorAccordionList = $('.sponsorsListWrap dl > dd').hide(),
                sponsorAccordionTitle = $('.sponsorsListWrap dl > dt');

            $('.sponsorsListWrap dl > dt > a').click(function () {
                var linkTarget = $(this),
                  targetTitle = linkTarget.parent(),
                  targetList = linkTarget.parent().next();

                // Check if it's expanded
                if (!targetList.hasClass('active')) {
                    // Close previous expanded panel
                    sponsorAccordionList.removeClass('active').slideUp();
                    sponsorAccordionTitle.removeClass('active');
                    // Expanded current panel
                    targetTitle.addClass('active');
                    targetList.addClass('active').slideDown();
                }

                return false;
            });
            $(sponsorAccordionTitle[0]).addClass('active');
            $(sponsorAccordionList[0]).addClass('active').slideDown();

            // End - Sponsors accordion
        });
    </script>

</head>
<body>

    <div id="wrapper">

        <header id="header">
            <div class="logoInfoBar">
                <div class="logoWrap">
                    <img src="~/Content/Images/silicon-valley-code-camp.png">
                </div>
                <div class="dateWrap">
                    SATURDAY & SUNDAY<br />
                    @Model.CodeCampDateString
                </div>
                <div class="venueWrap">
                    <span class="title">FOOTHILL COLLEGE,</span><br />
                    12345 EL MONTE RD.<br />
                    LOS ALTOS HILLS, CA
               
                </div>
            </div>
            <div class="menuUserBar">
                <div class="menuWrap">
                    <ul>
                        <li class="registration">
                            <div class="menuItemWrap">
                                <a href="/Register"><span class="imgWrap"></span>
                                    <h2>REGISTRATION</h2>
                                </a>
                            </div>
                        </li>
                        <li class="program">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span>
                                    <h2>PROGRAM</h2>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <a href="/Presenter#"><span></span>Presenters</a>
                                </li>
                                <li>
                                    <a href="/Session#"><span></span>Sessions</a>
                                </li>
                                <li>
                                    <a href="/Sponsor#"><span></span>Sponsors</a>
                                </li>
                            </ul>
                        </li>
                        <li class="giving">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span>
                                    <h2>GIVING</h2>
                                </a>
                            </div>
                        </li>
                        <li class="news">
                            <div class="menuItemWrap">
                                <a href="/News#"><span class="imgWrap"></span>
                                    <h2>NEWS</h2>
                                </a>
                            </div>
                        </li>
                        <li class="about">
                            <div class="menuItemWrap">
                                <a href="/About#"><span class="imgWrap"></span>
                                    <h2>ABOUT</h2>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="userWrap">
                    <div class="loginForm">
                        LOGIN | REGISTER
                   
                    </div>
                </div>
            </div>
        </header>
        <!-- #header-->

        <section id="middle">

            <div id="container">
                <div id="contentWrap">
                    <div class="roundBorder section " id="content">
                        @RenderBody()
                    </div>
                </div>
                <!-- #content-->
            </div>
            <!-- #container-->

            @{
                string daysAppend = "";
 }
            @if (@Model.DaysUntilCodeCampString != "1")
            {
                daysAppend = "S";
            }

            <div class="sidebar" id="sideLeft">
                <aside>
                    <div class="roundBorder daysCountdown @Model.DaysUntilCodeCampString">
                        <h1><span class="daysNumber">@Model.DaysUntilCodeCampString</span><br />
                            DAY@(daysAppend) TO GO</h1>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="sectionTitle">
                        <span class="luggageIcon"></span>
                        <h2>JOB POSTS</h2>
                    </div>
                    <div class="roundBorder section  jobPosts">
                        <div class="listWrap">
                            <ul>
                                @foreach (var job in Model.JobListings)
                                {

                                    <li>
                                        <span class="date">@job.JobDateFriendly</span><br />
                                        <a href="@job.JobURL" target="_blank" title="Go to job list - @job.JobName">@job.JobName</a><br />
                                        @job.JobCompanyName - @job.JobLocation
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="buttonWrap">
                            <a href="/Job#" class="button round magenta">MORE JOBS
                            </a>
                        </div>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="sectionTitle">
                        <span class="laptopIcon"></span>
                        <h2>NEWS</h2>
                    </div>
                    <div class="roundBorder section  news">
                        <div class="listWrap">
                            <ul>
                                @foreach (var feed in Model.FeedItems)
                                {

                                    <li>
                                        <span class="date">@feed.PubDateMonthYearOnly</span><br />
                                        <a href="@feed.PostURL" title="Go to post - @feed.PostTitle">@feed.PostTitle</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="buttonWrap">
                            <a href="http://blog.siliconvalley-codecamp.com/" class="button round magenta">MORE NEWS
                            </a>
                        </div>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="roundBorder sponsor">
                        <div class="wrap">
                            <a href="#" class="orcsweb">
                                <img src="~/Content/Images/sponsors/orcsweb-small.png"></a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- #sideLeft -->

            <div class="sidebar" id="sideRight">
                <aside>
                    <div class="socialMediaChannels">
                        <ul>
                            <li class="facebook">
                                <a href="http://www.facebook.com/group.php?gid=6125701762" target="_blank">Facebook</a>
                            </li>
                            <li class="twitter">
                                <a href="http://twitter.com/sv_code_camp" target="_blank">Twitter</a>
                            </li>
                            <li class="googlePlus">
                                <a href="https://plus.google.com/110656351842726857531?prsrc=3" target="_blank">Google+</a>
                            </li>
                            <li class="linkedIn">
                                <a href="http://www.linkedin.com/groups?gid=976557&trk=myg_ugrp_ovr" target="_blank">LinkedIn</a>
                            </li>
                            <li class="rss">
                                <a href="http://www.siliconvalley-codecamp.com/Rss.aspx" target="_blank">RSS</a>
                            </li>
                            <li class="contact">
                                <a href="mailto:info@siliconvalley-codecamp.com">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sectionBreak"></div>
                    @{Html.RenderPartial("_SponsorSideBar");}

                    @*  <div class="roundBorder section  sponsors">
                        <div class="topButtonsWrap">
                            <br />
                            <div class="button becomeSponsor">
                                <a href="/Sponsor#">BECOME A<br />
                                    SPONSOR</a>
                            </div>
                            <br />
                            <a href="#" class="button round gray border">VIEW ALL</a>
                        </div>
                        <div class="sponsorsListWrap">
                            <dl class="accordion">

                                <dt class="active"><a href=""><span class="arrow"></span><span class="label">PLATINUM</span></a></dt>
                                <dd class="active">
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Adobe</a></td>
                                            <td><a href="#" class="sponsor">AT&T</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Box</a></td>
                                            <td><a href="#" class="sponsor">Cacheonix Systems</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Cloud Foundry</a></td>
                                            <td><a href="#" class="sponsor">ComponentOne</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Dice</a></td>
                                            <td><a href="#" class="sponsor">DiscountASP.NET</a></td>
                                        </tr>
                                        <tr>
                                            <td>Egnyte</td>
                                            <td>Embarcadero</td>
                                        </tr>
                                        <tr>
                                            <td>Esri</td>
                                            <td>Foothill College</td>
                                        </tr>
                                        <tr>
                                            <td>Google</td>
                                            <td>Hewlett-Packard</td>
                                        </tr>
                                        <tr>
                                            <td>Intuit</td>
                                            <td>JetBrains</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">GOLD</span></a></dt>
                                <dd>
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Dr. Dobb's</a></td>
                                            <td><a href="#" class="sponsor">PowerBuilder</a></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">SILVER</span></a></dt>
                                <dd>
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Appcelerator</a></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">BRONZE</span></a></dt>
                                <dd>
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Association of International Product Marketing and Management</a></td>
                                            <td><a href="#" class="sponsor">Carnegie Mellon University Silicon Valley</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">CozyRoc</a></td>
                                            <td><a href="#" class="sponsor">FinalBuilder</a></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">COMMUNITY<br />
                                    SPONSORS</span></a></dt>
                                <dd>
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">ACCU</a></td>
                                            <td><a href="#" class="sponsor">Bay Area Association of Database Developers</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Bay Area Scala Enthusiasts</a></td>
                                            <td><a href="#" class="sponsor">Bay.NET User Group</a></td>
                                        </tr>
                                    </table>
                                </dd>

                            </dl>
                        </div>
                        <div class="bottomButtonsWrap">
                            <br />
                            <div class="button becomeSponsor">
                                <a href="#">BECOME A<br />
                                    SPONSOR</a>
                            </div>
                            <br />
                        </div>
                    </div>*@
                </aside>
            </div>
            <!-- #sideRight -->




        </section>
        <!-- #middle-->

        <br />
        <img src="~/Images/WebPreviews/SponsorsBottom.jpg" width="1000" />
        <br />
        <br />
    </div>
    <!-- #wrapper -->

    <footer id="footer">






        <div class="footerWrap">


            <div class="creditsWrap">
                Copyright © 2013   Silicon Valley Code Camp
               
                <br />
                Site Built with ASP.NET 4.0 by <a href="http://peterkellner.net" target="_blank">PeterKellner.net</a>
            </div>
            <div class="linksWrap">
                <ul>
                    <li><a href="#">TERMS & CONDITIONS</a></li>
                    <li><a href="mailto:info@siliconvalley-codecamp.com">CONTACT</a></li>
                    <li><a href="#">SITE MAP</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- #footer -->
</body>

</html>
