<div class="roundBorder section jobPosts" style="font-size: 16px; font-style: normal; color: #2e363d; font-family: Calibri; padding: 10px; width: 160px; height: 430px">

    <table>
        <tr>

            <td>
                <div class="sectionTitle sponsors">

                    <h1>Sponsorship Contact</h1>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <span>If you are interested in being a sponsor, contact <span style="font-weight: bold; text-decoration: underline"><a href="#">info@siliconvalley-codecamp.com</a></span>

                </span></td>
        </tr>

        <tr>
            <td>
                
                <br />
                <a href="#"> <div class="round blue"
                    style="font-size: 14px;">
                    <span style="cursor: pointer; width: 150px; font-size: 16px; height: 40px">BECAME A
                        
                        SPONSOR</span>
                </div></a>
                
                
            </td>
        </tr>

        <tr>
            <td>
                <br />
                <div class="sectionTitle sponsors">

                    <h1>Sponsorhip opportunities</h1>

                </div>
            </td>
        </tr>

        <tr>
            <td>
                <br />
                <span>We are having a raffle Sunday at lunch. There are still opportunities to make donations of services or products to be in the raffle. You can see the raffle prizes donated so far <span style="font-weight: bold; text-decoration: underline"><a href="#">here.</a></span>

                </span>
                <br />
                <br />
            </td>
        </tr>
    </table>








</div>

<br />
<br />
<div class="roundBorder section jobPosts" style="font-size: 16px; font-style: normal; color: #2e363d; font-family: Calibri; padding: 10px; padding-bottom: 30px; width: 160px;">

    <table>
        <tr>

            <td>
                <div class="sectionTitle sponsors">

                    <h1>Community sponsors</h1>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <div>
                    If you are interested in being a Community Sponsor, we ask for three things : 
                   
                    <br />
                    <br />
                    <div style="margin-left: 10px">
                        <ul>
                            <li><span class="sectionTitle">1.</span> Do a mailing now to your members letting them know about Code Camp<br />
                            </li>
                            <li>
                                <br />
                            </li>
                            <li><span class="sectionTitle">2.</span>Display the Code Camp Advertisement on your home page<br />
                            </li>
                            <li>
                                <br />
                            </li>
                            <li><span class="sectionTitle">3.</span> Do a final mailing 1 to 2 weeks before the Code Camp event (Here are <span style="font-weight: bold; text-decoration: underline"><a href="#">some sample annoucements</a></span> from previous years).
                            </li>
                        </ul>
                    </div>


                </div>
            </td>
        </tr>




    </table>








</div>



