<%@ Page Language="C#" AutoEventWireup="true" Inherits="BadgeList" Codebehind="BadgeList.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Badge List</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      
      <h1>Use Mailing list generator for badges</h1>
      </div>

    </form>
</body>
</html>
