<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="Contributors" Title="Contributors CodeCamp SFBA" Codebehind="Contributors.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<p>Coming Soon...</p>
   <%-- <p>
        If you are interested in being a Contributer to Code Camp, please visit the Wiki Page
        list Here. You will see lists of what needs sponsoring and you can simply update
        the Wiki with what you would like. The password for the Wiki is svcc.</p>
    <p>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://codecamp.pbwiki.com/CodeCampSiliconValleySponsors">Wiki Link For Code Camp Sponsors</asp:HyperLink></p>
    <p>
        <i>(Wiki is generously provided free of charge by the folks at <a href="http://pbwiki.com/">
            PBWiki</a> )</i></p>--%>
</asp:Content>
