﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    
    
    
    <a href="http://www.SiliconValley-Codecamp.com/Default.aspx"  >
    <img src="http://www.siliconvalley-codecamp.com/DisplayAd.ashx?ImageType=4" alt="CodeCamp at FootHill College.  Click Here for Details and Registration" 
      longdesc="" /></a>
    
    </div>
    </form>
</body>
</html>
