﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RightRegister.master" AutoEventWireup="true" Inherits="Giving" Codebehind="Giving.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Sublinks" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">

    <div style="margin-left: 50px;margin-right: 50px;">


        <br />
        <br style="font-size: x-large" />

        <span style="font-size: xx-large">"The Future Has No Lobby"</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --<span style="font-size: medium"><em>-Bill Clinton, Foothill College Celebrity Forum 12/5/2012</em></span>

        <br />
        <br />
        <br />
        <br />
       

        <h2>Join Silicon Valley Code Camp In Investing In Our Future!</h2>
        <p>&nbsp;</p>
      
        <p>
            For going on 8 years, Foothill college has partnered with Silicon Valley Code Camp to put on arguably the best
        free open technical learning event in the world.  We've done it with hundreds of volunteer speakers, hundreds of
        enthusiastic volunteers, and many generous industry sponsors who see our value.
        </p>
        <br/>
        <p>
            It's time to give back!  For the past couple years, we have already been giving significant monitary donations to Foothill College based on
            our success.  Let's together, take this to the next level by enjoining our sponsors to participate in giving a possible future to the Tens of Thousands
            of students who pass through the same campus we enjoy Silicon Valley Code Camp at
        </p>
          <br/>

        <h2>The CHALLENGE To Our Sponsors</h2>
        <p>&nbsp;</p>
        
        <p>Match dollar for dollar (or more) What Silicon Valley Code Camp donates to Foothill College.</p>
        <br/>
        <p>That's it.  Match 3x to Be a Diamond Level Matcher, Match 2x for Platinum and 1x for Gold.  This is totally independent of your
            Silicon Valley Code Camp sponsorship, 100% of your donation goes to Foothill College and you will know you have contributed
            to an institution that is laser focussed on our future
    
        </p>
        <br/>
        <h2>What's In It for The Corps (Work Study Program!)</h2>
        <p>
            Foothill College already has a program that brings awesome talent to aksdlfjf
            sdaf
            sadfsad
            f
            sadf
            asdfsa

        </p>
        <br/>
        <h2>Side Benefits</h2>
        <p>&nbsp;</p>
        <p>
            In addition, Foothill College through it's community connections has some great opportunities for Giving Partners.  Ask us and we will tell you!

        </p>
        <p>
            &nbsp;</p>
        
        <h2>Want to Know More?</h2>
        <p>&nbsp;</p>
        
        <a href="mailto:Giving@SiliconValley-CodeCamp.com">Please send me more information About the SVCC Giving Program</a>
        
      
</asp:Content>

