﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="JobsFeed" Codebehind="JobsFeed.aspx.cs" %>
<%@ OutputCache Duration="1" VaryByParam="Type" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>