<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" Inherits="ReferralTracker" Title="Untitled Page" Codebehind="ReferralTracker.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

Referrals to Web Site

    <asp:ListBox ID="ListBox1" runat="server"  Height="400"></asp:ListBox>

</asp:Content>

