<connectionStrings>
  <remove name="CodeCampSV06"/>
  <add name="CodeCampSV06"
	  connectionString="Data Source=.;Initial Catalog=svcodecamp;Persist Security Info=True;User ID=sax;Password=Zebra99"
	  providerName="System.Data.SqlClient"/>
  <add name="CodeCampSV06FastTimeOut"
	 connectionString="Data Source=.;Connect Timeout=3;Initial Catalog=svcodecamp;Persist Security Info=True;User ID=sa;Password=Zebra99"
	 providerName="System.Data.SqlClient"/>

  <add name="svcodecampEntities" 
       connectionString="metadata=res://*/App_Code.ModelSessionView.csdl|res://*/App_Code.ModelSessionView.ssdl|res://*/App_Code.ModelSessionView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=svcodecamp;Persist Security Info=True;User ID=sax;Password=Zebra99;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />


  <add name="svcodecampEntitiesAll" connectionString="metadata=res://*/App_Code.ModelAllTables.csdl|res://*/App_Code.ModelAllTables.ssdl|res://*/App_Code.ModelAllTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=svcodecamp;persist security info=True;user id=sax;password=Zebra99;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  <!--<add name="svcodecampEntities" connectionString="metadata=res://*/App_Code.ModelAllTables.csdl|res://*/App_Code.ModelAllTables.ssdl|res://*/App_Code.ModelAllTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=svcodecamp;persist security info=True;user id=sa;password=Zebra99;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


</connectionStrings>