<connectionStrings>
  <remove name="CodeCampSV06"/>
  <add name="CodeCampSV06"
	  connectionString="Data Source=.;Initial Catalog=svcodecamptest1;Persist Security Info=True;Trusted_Connection=Yes;"
	  providerName="System.Data.SqlClient"/>
  <add name="CodeCampSV06FastTimeOut"
	 connectionString="Data Source=.;Connect Timeout=3;Initial Catalog=svcodecamptest;Persist Security Info=True;Trusted_Connection=Yes;"
	 providerName="System.Data.SqlClient"/>

  <add name="svcodecampEntities"
       connectionString="metadata=res://*/App_Code.ModelSessionView.csdl|res://*/App_Code.ModelSessionView.ssdl|res://*/App_Code.ModelSessionView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=svcodecamptest;Persist Security Info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />


  <add name="svcodecampEntitiesAll" connectionString="metadata=res://*/App_Code.ModelAllTables.csdl|res://*/App_Code.ModelAllTables.ssdl|res://*/App_Code.ModelAllTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=svcodecamptest;persist security info=True;Trusted_Connection=Yes;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  <!--<add name="svcodecampEntities" connectionString="metadata=res://*/App_Code.ModelAllTables.csdl|res://*/App_Code.ModelAllTables.ssdl|res://*/App_Code.ModelAllTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=svcodecampdev;persist security info=True;Trusted_Connection=Yes;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


</connectionStrings>