<connectionStrings>

  <!--make sure to change ip address in svcodecampEntities also-->
  <add name="svcodecampEntities"
       connectionString="metadata=res://*/App_Code.ModelSessionView.csdl|res://*/App_Code.ModelSessionView.ssdl|res://*/App_Code.ModelSessionView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=206.72.118.158;Initial Catalog=svcodecamp;Persist Security Info=True;User ID=3plogic;Password=sun4All;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  <remove name="CodeCampSV06"/>
  <add name="CodeCampSV06"
	  connectionString="Data Source=206.72.118.158;Initial Catalog=svcodecamp ;Persist Security Info=True;User ID=3plogic  ;Password=sun4All"
	  providerName="System.Data.SqlClient"/>
  <add name="CodeCampSV06FastTimeOut"
	 connectionString="Data Source=206.72.118.158;Initial Catalog=svcodecamp ;Persist Security Info=True;User ID=3plogic  ;Password=sun4All"
	 providerName="System.Data.SqlClient"/>


  <add name="PASTSV08"
  connectionString="Data Source=.;Initial Catalog=svcodecamp;Persist Security Info=True;User ID=sa ;Password=Zebra99"
   providerName="System.Data.SqlClient"/>

  <add name="PASTSV07"
	  connectionString="Data Source=sqlvs03;Initial Catalog=361684_cc07;Persist Security Info=True;User ID=361684_pkellner;Password=walnut95"
	  providerName="System.Data.SqlClient"/>


  <add name="PASTSV06"
	  connectionString="Data Source=sqlvs03;Initial Catalog=361684_cc06;Persist Security Info=True;User ID=361684_pkellner;Password=walnut95"
	  providerName="System.Data.SqlClient"/>


</connectionStrings>