<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Code Camp Home Page</a></p>
        </div>
    </div>
    
    <script type="text/javascript">

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON("api/session/GetAll",
            function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, val) {
                    var str = val.Title;
                    $('<li/>', { text: str })
                    .appendTo($('#sessions'));
                });
            });
        });
      


    </script>

</header>

<br/>    
<div id="sessions"></div>
       


