@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Logged Out</h1>
<br />




@*<iframe src="/ExtJSApps/Registration/app.html" width="600" height="700"></iframe>*@

<iframe src="/ExtJSApps/Login/index.html" width="400" height="200"></iframe>
    
    
