﻿@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Speakers</h2>

       <table id='myTable' >
 
        @foreach (var speaker in Model.Speakers)
        { 
          
            <tr>
                <td>@speaker.UserFirstName @speaker.UserLastName    </td>
                 <td>@speaker.AttendeeId   </td>
                <td> <img src="@(speaker.ImageUrl)?width=70"/>   

            </td>
           
            <td>
           
                <table>
                    
                    @*When we are on the speaker page, there needs to be a "Details" button that when
                    pressed brings up a pop up window that shows all the sessions for this speaker.
                    That is what the next foreach(var session ..) is. that is the sessions for this speaker*@

                    @foreach (var session in speaker.Sessions)
                    {
                        <tr>
                       
                            <td><a href="@(session.SessionUrl)">@session.TitleEllipsized</a>  </td>
                        
                        </tr>
                    }
                </table>
                </td>
          </tr>
          
        }
    

</table>

@*@foreach (var sponsor in Model.Sponsors)
{
    <br />
    @sponsor.SponsorName
    <br />
    @sponsor.NavigateURL
    <br />
    @sponsor.SponsorSupportLevel
    <br />
    @sponsor.SponsorSupportLevelOrder
    <br />
    @(sponsor.ImageURL)
    <br />
    <img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr />
}*@





@* <script type="text/javascript">

//        $(document).ready(function () {
//            // Send an AJAX request
//            $.getJSON("api/session/GetAll",
//            function (data) {
//                // On success, 'data' contains a list of products.
//                $.each(data, function (key, val) {
//
//                    //debugger;
//
//                    // Format the text to display.
//                    //var str = val.Name + ': $' + val.Price;
//                    var str = val.PresenterName + ' : ' + val.Title;
//
//                    // Add a list item for the product.
//                    $('<li/>', { text: str })
//                    .appendTo($('#sessions'));
//                });
//            });
//        });
      


    </script>


 <div id="sessions"></div>*@