﻿@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    // used to pass into IFrame
   
    var x = $(document).ready(function () {
        
        $('#iframe').hide();
        
        //debugger;
        SessionsDataGlobal = new Array();

        var cnt = 0;

        var sessions = $('#sessionsTable tr').each(function() {
            var localThis = $(this);
            var sessionId = localThis.find('#sessionInfoDetail').data('id');
            var sessionTitle = localThis.find('#sessionTitle_' + sessionId)[0].innerHTML;
            var sessionDescription = localThis.find('#sessionDescription_' + sessionId)[0].innerHTML;
            var sessionTime = localThis.find('#sessionTime_' + sessionId)[0].innerHTML;
            var sessionRoomNumber = localThis.find('#sessionRoom_' + sessionId)[0].innerHTML;
            var sessionUrl = localThis.find('#sessionUrl_' + sessionId + ' a')[0].href;

            //SessionsDataGlobal.push({
            //    sessionTitle: sessionTitle,
            //    sessionId: sessionId,
            //    speakerInfo: {}
            //});

            //debugger;
            var sessionData = {
                sessionTitle: sessionTitle,
                sessionId: sessionId,
                sessionRoom: sessionRoomNumber,
                sessionTime: sessionTime,
                speakers: new Array(),
                tags: new Array()
            };

            
            


            var speakerInfos = localThis.find('#speakerInfoList_' + sessionId + ' .speakerInfoItem');
            $(speakerInfos).each(function(iCnt) {

                var localThisSpeaker = $(this);
                var speakerBio = localThisSpeaker.find('.speakerBio')[0].innerHTML;
                var userBioEllipsized = localThisSpeaker.find('.speakerBioEllipsized')[0].innerHTML;
                var speakerPicture = localThisSpeaker.find('img')[0].src;
                var speakerName = localThisSpeaker.find('.speakerName')[0].innerHTML;
                var speakerWebSite = localThisSpeaker.find('.speakerWebSite')[0].innerHTML;
                var speakerUrl = localThisSpeaker.find('.speakerUrl')[0].innerHTML;
                var speakerCity = localThisSpeaker.find('.speakerCity')[0].innerHTML;
                var speakerState = localThisSpeaker.find('.speakerState')[0].innerHTML;
                var speakerTwitter = localThisSpeaker.find('.speakerTwitterHandle')[0].innerHTML;
                var speakerSaturdayClasses = localThisSpeaker.find('.speakerSaturdayClasses')[0].innerHTML;
                var speakerSundayClasses = localThisSpeaker.find('.speakerSundayClasses')[0].innerHTML;

                //debugger;
                sessionData.speakers.push({
                    speakerName: speakerName,
                    speakerUrl: speakerUrl
                });
                


            });

            var tags = $($(localThis, 'tagInfoList_' + sessionId), '.tagId').find('.tagId');
            $(tags).each(function(iCnt) {
                var localThisTag = $(this);
                var tag = localThisTag[0].innerHTML;
                //console.log('   tag: ' + tag);
                //debugger;
                sessionData.tags.push(tag);
            });

            //debugger;
            SessionsDataGlobal.push(sessionData);

            cnt++;
            //console.log(sessionId);
        });
        //debugger;
    });
    

</script>

<script type="text/javascript">
    $(document).ready(function () {

        var floatingElement,
            targetSelectBtn,
            timeoutVal;

        function monitorFloatingElement(el) {
            floatingElement = el;
        }

        function hideFloatingElement(el) {
            $(el).hide();
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
        }

        $('body').click(function () {
            hideFloatingElement(floatingElement);
        });


        // Tags filter button and floating panel
        $("#tagFiltersButton").click(function (e) {

            // Add to monitor the current floating element
            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
            monitorFloatingElement('#tagsFilterLightbox');

            $('#tagsFilterLightbox').fadeIn('fast', 'linear');


            // Stop event bubbling so body listener for hiding floating
            // panel won't be triggered
            e.stopPropagation();
        });
        // Prevents closing of the details panel when clicked
        $('#tagsFilterLightbox').click(function (e) {
            e.stopPropagation();
        });

        // Close button for details floating panel
        $('#tagsFilterLightbox .closePanelButton').click(function (e) {
            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
        });
        // End -  Tags filter button and floating panel
        //        $("#tagFiltersButton").colorbox({
        //            inline:true,
        //            transition: 'fade',
        //            href:"#tagsFilterLightbox",
        //            className: 'tagsFilterLightboxColorBox',
        //            opacity: 0.5,
        //            onOpen: function () {
        //                $('#tagsFilterLightbox .closePanelButton').click(function () {
        //                    $.colorbox.close();
        //                });
        //            }
        //        });

        // Filter accordion
        $('.sessionsFilterWrap .header .arrow').click(function () {
            if ($(this).hasClass('active')) {
                $('.sessionsFilterWrap .filterContentWrap').slideUp();
            } else {
                $('.sessionsFilterWrap .filterContentWrap').slideDown();
            }
            $(this).toggleClass('active')
        });
        // End - Filter accordion

        // Tags checkbox list
        $('.tagsCheckboxWrap ul li, .timeFilterWrap ul li, .tagsFilterWrap ul li').click(function () {
            $(this).toggleClass('selected')
        });

        // Session days filter checkbox
        // // Makes all Days selected

        $('#sessionDaysCheckboxList li').addClass('selected');
        // Makes all times selected
        $('.timeFilterWrap .optionsWrap li').addClass('selected');

        $('#sessionDaysCheckboxList li').click(function () {

            var targetEl = $(this),
                saturdayTimes = $('.timeFilterWrap .Saturday li'),
                sundayTimes = $('.timeFilterWrap .Sunday li'),
                showDay = 'all';

            // Show All handler
            if (targetEl.hasClass('showAll')) {
                if (targetEl.hasClass('selected')) {
                    showDay = 'none';
                } else {
                    showDay = 'all';
                }
            } else if (targetEl.hasClass('saturday')) {
                // SATURDAY
                // Deselect if selected
                if (targetEl.hasClass('selected')) {
                    // If sunday is has been selected
                    if (targetEl.parent().find('li.sunday').hasClass('selected')) {
                        // Show only Sunday
                        showDay = 'sunday';
                    } else {
                        // Hide all
                        showDay = 'none';
                    }
                } else {
                    // If sunday is has been selected
                    if (targetEl.parent().find('li.sunday').hasClass('selected')) {
                        // Show all
                        showDay = 'all';
                    } else {
                        // Show only Saturday
                        showDay = 'saturday';
                    }
                }
            } else {
                // SATURDAY
                // Deselect if selected
                if (targetEl.hasClass('selected')) {
                    // If sunday is has been selected
                    if (targetEl.parent().find('li.saturday').hasClass('selected')) {
                        // Show only Saturday
                        showDay = 'saturday';
                    } else {
                        // Hide all
                        showDay = 'none';
                    }
                } else {
                    // If sunday is has been selected
                    if (targetEl.parent().find('li.saturday').hasClass('selected')) {
                        // Show all
                        showDay = 'all';
                    } else {
                        // Show only Sunday
                        showDay = 'sunday';
                    }
                }
            }

            // Reset selection
            targetEl.parent().find('li').removeClass('selected');

            switch (showDay) {
            case 'saturday':
                targetEl.parent().find('li.saturday').addClass('selected');
                saturdayTimes.addClass('selected');
                sundayTimes.removeClass('selected');
                break;
            case 'sunday':
                targetEl.parent().find('li.sunday').addClass('selected');
                saturdayTimes.removeClass('selected');
                sundayTimes.addClass('selected');
                break;
            case 'all':
                targetEl.parent().find('li').addClass('selected');
                saturdayTimes.addClass('selected');
                sundayTimes.addClass('selected');
                break;
            default:
                saturdayTimes.removeClass('selected');
                sundayTimes.removeClass('selected');
            }

        });

        // Listens for check events on session times
        $('.timeFilterWrap .optionsWrap li').click(function () {

            var sessionDay = $(this).parent().parent().parent(),
                saturdayTimesSelectedCheckboxes = $('.timeFilterWrap .optionsWrap .Saturday li.selected'),
                sundayTimesSelectedCheckboxes = $('.timeFilterWrap .optionsWrap .Sunday li.selected'),
                timeCheckboxes = $('.timeFilterWrap .optionsWrap li'),
                timeCheckboxesSelected = $('.timeFilterWrap .optionsWrap li.selected'),
                timeCheckboxesCount = timeCheckboxes.length,
                timeCheckboxesSelectedCount = timeCheckboxesSelected.length;

            // Check the associated session day if session time is checked
            if ($(this).hasClass('selected')) {
                if (sessionDay.hasClass('Saturday')) {
                    $('.daysFilterWrap li.saturday').addClass('selected');
                } else {
                    $('.daysFilterWrap li.sunday').addClass('selected');
                }
            } else {
                // Check if there's no selected time for a day
                // then uncheck the associated day checkbox
                if (saturdayTimesSelectedCheckboxes.length == 0) {
                    $('.daysFilterWrap li.saturday').removeClass('selected');
                }
                if (sundayTimesSelectedCheckboxes.length == 0) {
                    $('.daysFilterWrap li.sunday').removeClass('selected');
                }
            }

            // Check if every checkbox time is selected
            // then select show all
            if (timeCheckboxesCount == timeCheckboxesSelectedCount) {
                $('.daysFilterWrap li.showAll').addClass('selected');
            } else {
                $('.daysFilterWrap li.showAll').removeClass('selected');
            }
        });

        // End - Session days filter checkbox

        // Session details floating panel
        $('.detailsBtn').click(function (e) {
            var buttonOffset = $(this).offset(),
                sessionId = $(this).attr('sessionId'),
                speakers, speaker, i;

            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
            monitorFloatingElement('#detailsFloatingPanel');

            // Copy text fields from dom to floating panel fields
            $('#detailsFloatingPanel .description').html($('#sessionDescription_' + sessionId).text());
            $('#detailsFloatingPanel h3.title').html($('#sessionTitle_' + sessionId).text());
            $('#detailsFloatingPanel .details').html($('#sessionDetails_' + sessionId).html());
            $('#detailsFloatingPanel .presenterName').text($('#presenterName_' + sessionId).text());
            $('#detailsFloatingPanel .speakerAvatar').html($('#speakerAvatar_' + sessionId).html());
            // Session URL
            $('#detailsFloatingPanel .footer .buttonWrap').html($('#sessionUrl_' + sessionId).html());

            // Speakers
            speakers = $('#session_' + sessionId).find('.author');
            $('#detailsFloatingPanel .speakerList').html($('#speakerInfoList_' + sessionId).html());

            for (i = 0; i < speakers.length; i++) {
                speaker = speakers[i];
                $('#authorLinkContainer_' + sessionId + '_' + $('#' + speaker.id).attr('speakerId')).html(speaker.outerHTML);
            }

            $('#detailsFloatingPanel').fadeIn('fast', 'linear').css({
                'top': buttonOffset.top - ($('#detailsFloatingPanel .contentWrap').height() + 200)
            });

            // Stop event bubbling so body listener for hiding floating
            // panel won't be triggered
            e.stopPropagation();
        });

        // Prevents closing of the details panel when clicked
        $('#detailsFloatingPanel').click(function (e) {
            e.stopPropagation();
        });

        // Close button for details floating panel
        $('.closePanelButton').click(function (e) {
            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
        });
        // End - Session details floating panel

        // Session Select
        $('.interestSelectBtn .select').click(function (e) {
            // Show drop down
            if (e.target.className == 'arrow') {
                // Add to monitor the current floating element
                if (floatingElement) {
                    hideFloatingElement(floatingElement);
                }
                monitorFloatingElement('#selectOptionsWrap');

                targetSelectBtn = e.currentTarget.parentElement;

                $('#selectOptionsWrap').appendTo(targetSelectBtn);
                $('#selectOptionsWrap').fadeIn('fast', 'linear');

                // Stop event bubbling so body listener for hiding floating
                // panel won't be triggered
                e.stopPropagation();

                $('.interestSelectBtn .option').click(function (e) {
                    interestSelectHandler(targetSelectBtn, $(this));
                });
            } else {
                // Toggle through the options
            }
        });

        function interestSelectHandler(select, option) {

            var label = option.find('.label').text(),
                selectEl = $('#' + select.id),
                targetLabel = '#' + select.id + ' .select .label .text';

            $(targetLabel).text(label);

            $('#' + select.id).addClass(label);

            switch (label) {
            case 'Attending':
                selectEl.removeClass('Interested');
                break;
            case 'Interested':
                selectEl.removeClass('Attending');
                break;
            default:
                selectEl.removeClass('Interested');
                selectEl.removeClass('Attending');
            }
        }

        // End - Session Select

        // Sponsor floating panel
        $('.sponsorsListWrap .sponsor').hover(function (e) {
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
            switch (e.type) {
            case 'mouseenter':
                // Add to monitor the current floating element
                if (floatingElement) {
                    hideFloatingElement(floatingElement);
                }
                monitorFloatingElement('.sponsorPanel');

                $('.sponsorPanel').fadeIn('fast', 'linear').css({ 'top': e.pageY - 322, 'left': e.pageX - 520 });

                break;
            case 'mouseleave':

                monitorFloatingElement('.sponsorPanel');

                timeoutVal = setTimeout(function () {
                    hideFloatingElement(floatingElement);
                    timeoutVal = null;
                }, 2000);

                break;
            }

        });

        $('.sponsorPanel').hover(function () {
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
        }, function () {
            timeoutVal = setTimeout(function () {
                hideFloatingElement(floatingElement);
                timeoutVal = null;
            }, 1300);
        });
        // End - Speaker panel
        

      
        //$('#sessionsWrap').hide();

        //$('#ContainerForFlip').show();
        
        //$('#sessionsNonExtjs').show();


        $(".toggle").click(function () {
            
            if ($('#iframe').is(":visible")) {
                $('#iframe').hide('slow', function () {
                    $('#sessionsNonExtjs').show('slow');
                });
            } else {
                $('#sessionsNonExtjs').hide('slow', function () {
                    $('#iframe').show('slow');
                });
            }
            
            //$('sessionsWrap current side').

            //debugger;

            //$('#sessionsNonExtjs').hide('slow', function() {
            //    $('#iframe').show('slow');
            //});

            //$('#sessionsWrap').hide('slow', function () {
            //    $('#sessionsWrapExtJS').show('slow');
            //});


            //var currentSide = $(".current"),
            //otherSide = $(".side:not(.current)");

            //currentSide.removeClass("current");
            //otherSide.addClass("current");

            //kendo.fx("#ContainerForFlip").slideInLeft(currentSide, otherSide).play();
        });
     

    });
</script>





<button class="toggle">Advanced Mode</button>

@*<div id="ContainerForFlip1">
    <div id="sessionsWrapExtJS1">TOP</div>
    <div id="sessionsWrap1">BOTTOM</div>
</div>*@




<h1 class="title">Sessions</h1>

<div id="ContainerForFlip">

    
    <iframe id="iframe" class="side" src="../ExtJSApps/SessionViewer/app.html" width="600" height="500"></iframe>
 
    <div id="sessionsNonExtjs" class="sessionsWrap current side">

        <div id="selectOptionsWrap" class="selectOptionsWrap">
            <div class="option">
                <div class="icon"></div>
                <div class="label">Not Interested</div>
            </div>
            <div class="option interested">
                <div class="icon"></div>
                <div class="label">Interested</div>
            </div>
            <div class="option attending">
                <div class="icon"></div>
                <div class="label">Attending</div>
            </div>
        </div>

        <div class="floatingPanel detailsFloatingPanel" id="detailsFloatingPanel">
            <div class="closePanelButton">
                <div class="icon"></div>
            </div>
            <div class="contentWrap">
                <div class="content">
                    <div class="sessionWrap">
                        <div class="textWrap">
                            <h3 class="title"></h3>
                            <div class="details">
                                <span class="timeIcon"></span>Saturday, 5 PM <span class="mapLocationIcon"></span>Room 302, Lot 1 &nbsp;<a href="#">Map</a>
                            </div>
                            <p class="description"></p>
                        </div>
                        <div class="footer">
                            <div class="buttonWrap">
                                <a href="#" class="button round blue">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="speakerWrap">
                        <div class="title">Speaker</div>
                        <div class="speakerList">
                            <div class="avatarWrap">
                                <img class="speakerAvatar" src="~/Content/Images/speaker-avatar-sample.png" />
                            </div>
                            <div class="speakerInfo">
                            </div>
                        </div>
                        <!--
                            <div class="sessionType">
                                <span class="label">Type</span>
                                <br />
                                Conference (<a href="#">What is it?</a>)
                            </div>
                            -->
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pointer"></div>
            </div>
        </div>

        <div class="floatingPanel tagsFilterLightbox" id="tagsFilterLightbox">
            <div class="closePanelButton">
                <div class="icon"></div>
            </div>
            <div class="contentWrap roundBorder">
                <div class="header">
                    <h3>PICK TAGS</h3>
                </div>
                <div class="tagsCheckboxWrap">
                    <ul>
                        <li class="selected"><span class="checkbox"></span><span class="label">.NET Framework</span></li>
                        <li><span class="checkbox"></span><span class="label">ActionScript</span></li>
                        <li><span class="checkbox"></span><span class="label">Ada</span></li>
                        <li><span class="checkbox"></span><span class="label">Ajax</span></li>
                        <li><span class="checkbox"></span><span class="label">Algorithm</span></li>
                        <li><span class="checkbox"></span><span class="label">Android</span></li>
                        <li><span class="checkbox"></span><span class="label">AppleScript</span></li>
                        <li><span class="checkbox"></span><span class="label">ASCET</span></li>
                        <li><span class="checkbox"></span><span class="label">ASP</span></li>
                        <li class="selected"><span class="checkbox"></span><span class="label">ASP.NET</span></li>
                        <li><span class="checkbox"></span><span class="label">ASP.BASH</span></li>
                        <li><span class="checkbox"></span><span class="label">BPEL</span></li>
                        <li><span class="checkbox"></span><span class="label">Multi-threading</span></li>
                    </ul>
                </div>
                <div class="clearBoth"></div>
                <div class="buttonWrap">
                    <div class="finishButton button round gray border">
                        <div class="icon"></div>
                        <div class="label">FINISHED</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="floatingPanel sponsorPanel">
            <div class="contentWrap">
                <div class="content">
                    <div class="sponsorLogoWrap">
                        <img src="" alt="" />
                    </div>
                    <div class="sponsorInfoWrap">
                        <p><a href="#">Wakanda</a> is an open-source platform for developing business web and mobile applications in Javascript.</p>
                        <div class="buttonWrap">
                            <a href="#" class="button round blue">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pointer"></div>
            </div>
        </div>

        <div class="sessionsFilterWrap roundBorder">
            <div class="header">
                <div class="arrow active"><span class="icon"></span></div>
                <div class="label">FILTERS</div>
            </div>
            <div class="filterContentWrap active">
                <div class="filterOptionsWrap">
                    <div class="daysFilterWrap">
                        <div class="labelWrap">
                            <span class="icon"></span><span class="label">Day : </span>
                        </div>
                        <div class="optionsWrap">
                            <ul id="sessionDaysCheckboxList">
                                <li class="showAll selected"><span class="checkbox"></span><span class="label">Show all</span></li>
                                <li class="saturday"><span class="checkbox"></span><span class="label">Saturday</span></li>
                                <li class="sunday"><span class="checkbox"></span><span class="label">Sunday</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="timeFilterWrap">
                        <div class="labelWrap">
                            <span class="icon"></span><span class="label">Time : </span>
                        </div>
                        <div class="optionsWrap">
                            @{
                                var previousDay = "";
                                var sessionDayTimeCount = Model.SessionTimeResults.Count - 1;
                                var i = 0;
                            }

                            @foreach (var timeResult in Model.SessionTimeResults)
                            {


                                if (previousDay != timeResult.StartTimeFriendlyDay)
                                {
                                    previousDay = timeResult.StartTimeFriendlyDay;
                                    @:<div class="timeOption @timeResult.StartTimeFriendlyDay">
                                    <div class="dayLabel"><span class="icon"></span><span class="label">@(@timeResult.StartTimeFriendlyDay): </span></div>
                                    @:<div class="timesWrap">
                                    @:<ul>

                                }                             
                                <li><span class="checkbox"></span><span class="label">@(timeResult.StartTimeFriendlyTime)</span></li>

                                if (i == sessionDayTimeCount || Model.SessionTimeResults[i + 1].StartTimeFriendlyDay != previousDay)
                                {
                                    @:</ul>
                                    @:</div>
                                    @:</div>
                                                        
                                }

                                if (i <= sessionDayTimeCount)
                                {
                                    i++;
                                }

                            }

                        </div>
                    </div>
                    <!--
                        <div class="categoryFilterWrap">
                            <div class="labelWrap">
                                <span class="icon"></span><span class="label">Category : </span>
                            </div>
                            <div class="optionsWrap">
                                <ul>
                                    <li class="selected"><span class="checkbox"></span><span class="label">Technology</span></li>
                                    <li><span class="checkbox"></span><span class="label">Business</span></li>
                                    <li><span class="checkbox"></span><span class="label">Career</span></li>
                                    <li><span class="checkbox"></span><span class="label">Kids</span></li>
                                    <li><span class="checkbox"></span><span class="label">Software Management</span></li>
                                </ul>
                            </div>
                        </div>
                        -->
                    <div class="tagsFilterWrap">
                        <div class="labelWrap">
                            <span class="icon"></span><span class="label">Tags : </span>
                        </div>
                        <div class="optionsWrap">
                            <ul>
                                <li class="selected"><span class="checkbox"></span><span class="label">C++</span></li>
                                <li class="selected"><span class="checkbox"></span><span class="label">.NET</span></li>
                                <li class="selected"><span class="checkbox"></span><span class="label">Database</span></li>
                                <li><span class="checkbox"></span><span class="label">Linq2SQL</span></li>
                            </ul>
                        </div>
                        <div class="buttonRightWrap">
                            <div class="tagFiltersButton" id="tagFiltersButton">
                                <div class="label"><span>Tag Filters</span></div>
                                <div class="arrow"><span class="icon"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sessionGroupSearchWrap ">
            <div class="groupWrap">
                <div class="label">Group sessions by</div>
                <div class="groupSessionsSelect">
                    <div class="roundSelect">
                        <div class="select">
                            <div class="label"><span class="text">Time</span></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchWrap">
                <div class="label">Search: </div>
                <div class="searchInputWrap">
                    <div class="searchTypeWrap">
                        <div class="select">
                            <div class="label"><span class="text">Keyword</span></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                    <div class="inputWrap">
                        <input type="text" value="Type your search..." />
                    </div>
                    <div class="searchButtonWrap">
                        <input type="button" class="searchButton" value="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="sessionsList">
            <h4>Saturday, 11:15 AM</h4>
            <table id="sessionsTable">

                @foreach (var session in Model.Sessions)
                {
    
                    <tr id="session_@session.Id" class="session">
                        <td class="title" width="330">

                            <div id="sessionInfoDetail" data-id="@session.Id">
                                @*BELOW, PresenterURL goes to link inside code camp*@

                                <span id="sessionTitle_@session.Id">@session.TitleEllipsized</span>
                                <br />
                                <i>by</i>
                                @{ var multipleSpeakerSeparator = " "; }
                                @foreach (var speaker in session.SpeakersList)
                                {
                                    @multipleSpeakerSeparator <a href="@(speaker.SpeakerLocalUrl)" class="author" id="speaker_@(speaker.AttendeeId)" speakerId="@speaker.AttendeeId"> @speaker.UserFirstName @speaker.UserLastName </a>multipleSpeakerSeparator = ",";
                                }
                        
                                @* Next 3 lines are for popup not to get confused I think*@
                                <div class="sessionDetails" id="sessionDetails_@session.Id">
                                    <span class="timeIcon"></span><span id="sessionTime_@session.Id" class="sessionTimeClass">@session.SessionTime</span>
                                    <span class="mapLocationIcon"></span>Room <span id="sessionRoom_@session.Id"  class="roomNumberClass">@session.RoomNumber</span>
                                </div>
                                <div class="sessionDescription" id="sessionDescription_@session.Id">@session.Description</div>
                                <div class="sessionUrl" id="sessionUrl_@session.Id"><a href="@(session.SessionUrl)" title="@session.TitleEllipsized" class="button round blue sessionTitleEllipsized">READ MORE</a></div>
                                <div class="speakerInfo" id="speakerInfoList_@session.Id">
                                    @foreach (var speaker in session.SpeakersList)
                                    {
                                        <div class="speakerInfoItem">
                                            <div class="avatarWrap">
                                                <img class="speakerAvatar" src="@(speaker.ImageUrl)?width=55" />
                                            </div>
                                            <div class="speakerInfo">
                                                <div id="authorLinkContainer_@(session.Id)_@speaker.AttendeeId"></div>
                                                <p>
                                                    <span class="speakerBio">@speaker.UserBio</span>
                                                </p>
                                                <span class="speakerName">@speaker.UserFirstName @speaker.UserLastName</span>
                                                <span class="speakerBioEllipsized">@speaker.UserBioEllipsized</span>
                                                <span class="speakerWebSite">@speaker.UserWebsite</span>
                                                <span class="speakerUrl">@speaker.SpeakerLocalUrl</span>
                                                <span class="speakerCity">@speaker.City</span>
                                                <span class="speakerState">@speaker.State</span>
                                                <span class="speakerTwitterHandle">@speaker.TwitterHandle</span>
                                                <span class="speakerSaturdayClasses">@speaker.SaturdayClasses</span>
                                                <span class="speakerSundayClasses">@speaker.SundayClasses</span>
                                          

                                            </div>
                                        </div>
                                    }

                                </div>
                            
                                @*the tagname is for SEO only since hidden*@
                                <div class="tagInfo" id="tagInfoList_@session.Id">
                                    @foreach (var tag in session.TagsResults)
                                    {
                                        <div>
                                            <span class="tagId">@tag.Id</span>
                                            <span class="tagName">@tag.TagName</span>  
                                        </div>
                                    }

                                </div>

                            </div>
                        </td>
                        <td class="action">
                            @*DO NOT REFORMAT NEXT 4 LINES.  CAUSES INTEREST SELECTION TO SHIFT FUNNY*@
                            <div class="interestSelectBtn" id="interestSelectBtn_@session.Id">
                                <div class="select"><div class="label"><span class="icon"></span>
                                                        <span class="text">Not Interested</span></div><div class="arrow"></div></div>
                            </div>
                        </td>
                        <td class="details">
                            <div class="detailsBtn" id="detailsBtn_@session.Id" sessionId="@session.Id">
                                <div class="icon"></div>
                                <div class="label">Details</div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>


    </div>

</div>




@*
@foreach (var session in Model.Sessions) {
    <br/>
    @session.Title
    <br/><br/><br/>
    @session.Description
    <br/><br/><br/>
    <img src="@(session.SpeakerPictureUrl)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@session.PresenterName"  />
    <br/><br/><br/>
    <a href=" @session.SessionUrl"> @session.SessionUrl</a>
    <br/> 
}
@foreach (var sponsor in Model.Sponsors) {
    <br/>
    @sponsor.SponsorName
    <br/>
    @sponsor.NavigateURL
      <br/>
    @sponsor.SponsorSupportLevel
     <br/>
    @sponsor.SponsorSupportLevelOrder
    <br/>
    @(sponsor.ImageURL)
    <br/>
    <img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr/>
}


*@





@* <script type="text/javascript">

//        $(document).ready(function () {
//            // Send an AJAX request
//            $.getJSON("api/session/GetAll",
//            function (data) {
//                // On success, 'data' contains a list of products.
//                $.each(data, function (key, val) {
//
//                    //debugger;
//
//                    // Format the text to display.
//                    //var str = val.Name + ': $' + val.Price;
//                    var str = val.PresenterName + ' : ' + val.Title;
//
//                    // Add a list item for the product.
//                    $('<li/>', { text: str })
//                    .appendTo($('#sessions'));
//                });
//            });
//        });
      


    </script>


 <div id="sessions"></div>*@