@model WebAPI.ViewModels.CommonViewModel



<script src="http://extjs.cachefly.net/ext-4.1.1-gpl/ext-all.js"></script>
<link rel="stylesheet" href="http://extjs.cachefly.net/ext-4.1.1-gpl/resources/css/ext-all.css">
<script type="text/javascript" src="/ExtJSApps/SessionViewer/app.js"></script>



<h1 class="title">Sessions</h1>

<script type="text/javascript">
    
    Ext.onReady(function () {
        debugger;

        var xx = 'xx';
        x = 'x';


        //Ext.ux.mask = new Ext.LoadMask('ExtJSSessionsApp', { msg: "Loading..." });
        //Ext.ux.mask.show();   // Show the mask
        //new Ext.util.DelayedTask(function () {
        //    Ext.ux.mask.hide(); // Hide the mask
        //}).delay(1000);

        //var filterPanel = Ext.create('Ext.panel.Panel', {
        //    bodyPadding: 5,  // Don't want content to crunch against the borders
        //    width: 300,
        //    title: 'Filters',
        //    items: [{
        //        xtype: 'datefield',
        //        fieldLabel: 'Start date'
        //    }, {
        //        xtype: 'datefield',
        //        fieldLabel: 'End date'
        //    }],
        //    renderTo: 'ExtJSSessionsApp'
        //});


    });




</script>

<iframe id="#iframe" src="../ExtJSApps/SessionViewer/app.html"></iframe>


<div class="SessionsWrap">
    
    OLD SESSIONS
</div>
